[2021-10-29 15:16] foolip opened #1 "Subgrid"
**Description**
Subgrid makes it possible to nest grids while having the items of the nested grid line up with the main grid. (Simply nesting `display: grid` doesn't allow this.)

**Specification**
https://drafts.csswg.org/css-grid-2/

**Tests**
https://wpt.fyi/results/css/css-grid/subgrid?label=experimental&label=master&aligned

As evident from these tests, only Firefox currently implements Subgr

[2021-10-29 18:22] chrishtr opened #2 "Compat 2021 carryover"
[Compat2021](https://wpt.fyi/compat2021) is the predecessor to Interop2022. It [defined 5 key areas](https://web.dev/compat2021) where interop was not good enough between browsers, as backed up by strong evidence from developer surveys. All five areas are fully supported features from all browser engines.

Over the course of 2021, there has been [excellent progress](https://web.dev/compat2021-midy

[2021-10-29 19:38] jensimmons opened #3 "Rename Compat 2021 to Interop 2021"
I like that we decided the next version of this project be called Interop 2022.

I believe that when we announce the new 2022 project, we also announce that we've renamed the whole effort — and henceforth will call the 2021 version "Interop 2021".

It'll be easier for everyone if we just always call this "Interop [Year]'. And don't have legacy baggage to carry along.

[2021-10-29 20:48] jensimmons opened #4 "Viewport Measurement (including new Viewport Units)"
**Description**
Web developers struggle to measure the viewport in a consistent and predictable manner — especially the viewport in the block dimension on mobile devices, when often the browser UI changes size or disappears/reappears. After years of hearing developer frustrations about VH in particular, the CSSWG has defined new units to cover all usecases and web developers would benefit greatly

[2021-10-29 21:00] jensimmons commented on #4
WebKit: https://bugs.webkit.org/show_bug.cgi?id=219287
Gecko: https://bugzilla.mozilla.org/show_bug.cgi?id=1610815
Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=1093055

[2021-10-31 21:17] jensimmons opened #5 "Cascade Layers"
**Description**
Cascade Layers provides a powerful way to architect CSS code into “layers”, where the specificity of each layer is calculated independently of other layers — and where the web developer can define which layer will override which.

**Specification**
 [Cascade 5](https://www.w3.org/TR/css-cascade-5/#layering)

**Tests**
[Current tests](https://wpt.fyi/results/css/css-cascade?label=ma

[2021-11-03 09:37] foolip commented on #4
This is a great proposal, thanks @jensimmons!

Frustration around this was also very prominent in the MDN browser compat survey and interview, see [viewport findings](https://insights.developer.mozilla.org/reports/mdn-browser-compatibility-report-2020.html#findings-viewport) for a summary. At the time I linked https://github.com/w3c/csswg-drafts/issues/4329 and I'm happy to see the new units have

[2021-11-03 09:50] foolip commented on #3
I think this is a good idea. I've filed https://github.com/web-platform-tests/wpt.fyi/issues/2674 and https://github.com/GoogleChrome/web.dev/issues/6666 about renaming on wpt.fyi and web.dev.

@kypflug @scottlow, Microsoft was supportive of renaming the 2022 iteration of the effort. Do you also think it's a good idea to rename the current effort, and is there content on Microsoft blogs that would

[2021-11-03 23:37] fantasai opened #6 "Box Alignment on Block Boxes"
The CSS Alignment spec defines various box alignment properties to work on in-flow and abspos block boxes, but this is not implemented. It would be good to get these properties working across the board in CSS, and protect against the potential for bugwards-compat from stylesheet errors.

https://www.w3.org/TR/css-align-3/

[2021-11-03 23:42] fantasai commented on #2
Strong +1. In particular, I think we still have work to do on Grid and Flexbox layout, and I wouldn't be surprised if there are some bugs and issues around aspect-ratio or postion:sticky, so it would be good to keep them at a high priority.

[2021-11-04 02:51] kypflug commented on #3
Makes sense to me, I think the consistency is good. I'll take a look at adding a quick editorial note to our previous blogs as needed but I think that's a fairly minor point.

[2021-11-04 16:41] tomayac commented on #4
+1 to this being a massive issue by talking to developers. Articles like [The trick to viewport units on mobile](https://css-tricks.com/the-trick-to-viewport-units-on-mobile/) (check the number of comments) are [widely shared](https://twitter.com/search?q=url%3Athe-trick-to-viewport-units-on-mobile&src=typed_query&f=live) on Twitter and "solutions" like the `-webkit-fill-available` hack keep makin

[2021-11-04 17:20] foolip opened #7 "State of CSS 2021: differences between browsers"
_Not a feature proposal. This is sharing data._

The State of CSS 2021 survey has closed now, and while the public results site is not yet up, @SachaG has kindly provided me with a copy of the results, which I've partially exported as [State of CSS 2021 free-form text analysis](https://docs.google.com/spreadsheets/d/1W1scqBvz6xRERPGOCm_29cc71U9CJiIlfeNNyys-27M/edit#gid=1399297592).

For this issue

[2021-11-04 17:21] foolip commented on #1
Based on the State of CSS 2021 results in https://github.com/web-platform-tests/interop-2022/issues/7, I think the case for Subgrid is strong.

[2021-11-04 17:33] foolip commented on #4
I've now analyzed the "Are there any CSS features you have difficulties using because of differences between browsers?" questions from State of CSS 2021 in https://github.com/web-platform-tests/interop-2022/issues/7, and the Viewport category there is largely about this issue. Being up there close to Container Queries and `:focus-visible` despite not being mentioned previously in the survey, is a

[2021-11-04 17:35] foolip commented on #7
One thing to keep in mind with this list is that the survey asked about awareness of many features, but certainly not all features. There's most likely a priming effect, where any feature that was part of the survey gets a bit of a bump in a question like this. I haven't gone though and marked which those features are, but might update the table with that later.

[2021-11-05 10:28] jgraham commented on #1
Linking some information I'd like to see in proposals, which I happen to have for subgrid:
# Specs
https://drafts.csswg.org/css-grid-2/
# Tests
https://wpt.fyi/results/css/css-grid/subgrid?label=experimental&label=master&aligned
# Rationale
(taken from https://github.com/web-platform-tests/interop-2022/issues/1#issue-1039675037)
* Identified as a pain point in [MDN 2020 Browser Compatibllity Repor

[2021-11-05 11:23] jgraham commented on #6
Apologies, I just added an issue template for porposals, which I should have done much earlier.

Would you be able to rewrite the issue description to match that [template](https://github.com/web-platform-tests/interop-2022/issues/new?assignees=&labels=proposal&template=proposal.md&title=)?

[2021-11-05 11:25] jgraham commented on #4
Apologies, I just added an issue template for proposals, which I should have done much earlier.

Would you be able to rewrite the issue description to match that [template](https://github.com/web-platform-tests/interop-2022/issues/new?assignees=&labels=proposal&template=proposal.md&title=)?

[2021-11-05 11:26] jgraham commented on #5
Apologies, I just added an issue template for porposals, which I should have done much earlier.

Would you be able to rewrite the issue description to match that [template](https://github.com/web-platform-tests/interop-2022/issues/new?assignees=&labels=proposal&template=proposal.md&title=)?

[2021-11-05 12:31] jgraham opened #9 "[meta] Web Compat Bucket"
## Description ##
Many features that are already widely implemented and shipped have small implementation differences that cause compatibility problems on real sites. These aren't necessarily big enough to form a bucket on their own, but fixing them will significantly reduce site breakage going forward. This seems important to demonstrate an ongoing investment into the quality of the web platform.

[2021-11-05 18:02] jensimmons commented on #7
Thanks for pulling together this summary @foolip — it's much easier to properly understand than scrolling through the raw data! (While we wait for the survey report.)

[2021-11-05 18:20] jensimmons commented on #4
I think it's a terrific idea to make this area be about nailing interoperability for the various ways web developers attempt to measure the Viewport — including JavaScript.

- existing viewport units, eg:`height: 100vh`
- new viewport units, eg: `height: 100svh`, `height: 100lvh`, `height: 100dvh`
- percent lengths, eg: `height: 100%`
- fixed positioned percent length, eg: `position: fixed; height

[2021-11-05 18:27] jensimmons opened #10 "Allow anyone to label these issues"
It seems permissions are locked down. I'm not able to appropriately label issues as a `proposal`, or assign an issue, etc. /@jgraham or @foolip

[2021-11-05 20:57] jgraham commented on #10
I've added the "triage" role to the wpt reviewers group, which is anyone who's been involved with wpt, and invited you. Does that sufficiently fix the problem?

[2021-11-08 02:09] karlcow commented on #7
Thanks @foolip
I was trying to dig  with a bit of mix of canIuse and what I remember about  implementations.
There are things which are not ready because under a prefix, or with different subtleties, hence ⛑
But what I find fascinating in the list you put together it's when there is 3 green checkmarks. It means that people have difficulties with something which is supposed to be implemented across

[2021-11-08 02:21] karlcow commented on #7
Also sometimes the specific issue is very broad.
Looking at the raw data… There are quite a couple of IE10 and IE11.
https://caniuse.com/?compare=ie+11,edge+95,firefox+94,chrome+95,safari+15&compareCats=all
And indeed if we add IE11 into the mix. This is painful.
The gap in between IE11 and Edge 95 must be very frustrating for web developers.

* 62 mentions of `IE11`
* 24 mentions of ` IE `
* 1 me

[2021-11-08 13:48] gsnedders commented on #7
At least in a fair number of cases, anecdotally, many developers seem unaware that Safari 14.1 and later (shipped April 2021) has support.

[2021-11-08 14:57] foolip commented on #7
@karlcow thanks for putting that table together, awesome! A few corrections I'd suggest:
- Scrollbars isn't a single thing, and I think some scrollbar styling is possible in some browsers. I think the key desire is custom scrollbars that look just like the developer wants, to avoid having to implement a custom one.
- Viewport is also a collection of things, not just the new bits in https://github.

[2021-11-08 16:11] gsnedders commented on #1
Related to #2 would be the question as to whether we treat subgrid as a separate feature to grid generally, or whether we just extend grid to include subgrid.

[2021-11-08 22:51] mfreed7 opened #11 "Form Controls"
**Description**
Form controls are mentioned frequently as a source of developer frustration. While "form controls" is a quite general area, there are several recurring themes (e.g. see the most recent [state of css survey results](https://github.com/web-platform-tests/interop-2022/issues/7)):
 - Form element stylability, particularly for `<select>`, `<input type=checkbox>`, and `<input type=radio>

[2021-11-09 00:11] karlcow commented on #7
love it. :) yes about collections of things. It's why I was using the medical red hat. As things to take care off. Because the evil is in the details. I wish I could talk with every single devs here to understand what they meant. :)

note that some people **can NOT** upgrade their browsers, because the OS on the laptop is too old. Or the mobile device is end of life. We have a tendency to forget (

[2021-11-09 10:54] #10 closed

[2021-11-09 11:21] karlcow commented on #7
@foolip Discussing with @jgraham I wonder if there are subcategories in these answers. Such as example people answering issues about IE11 are beginners or not. Working in big companies or not.

[2021-11-09 15:22] jgraham commented on #11
So I'm in favour of improving form controls in general, but I'm concerned about the lack os spec/tests for the areas that are causing developer pain. Is there an area that meets the bar of:
* Causes significant compat problems or represents an area of difficulty for developers
* Has a spec with multi-vendor buy-in.
* Either has existing tests or for which tests could be written without major diffi

[2021-11-09 16:42] jensimmons commented on #11
@mfreed7 What is your proposal for inclusion of a specific web technology to be included in Interop 2022?

"Improve form controls" is the mission of the Open UI project, and the HTML and CSS working groups. Interop 2022 is for encouraging browser rendering engines to implement features that have specifications, or to fix interop bugs that are particularly problematic for web developers.

[2021-11-09 16:43] jensimmons commented on #10
That's fine.

Could someone with privileges then label "Box Alignment on Block Boxes" and "Cascade Layers" as proposals.

[2021-11-10 15:59] foolip commented on #3
@jensimmons noted in https://github.com/web-platform-tests/wpt.fyi/issues/2674#issuecomment-958992786 that I've interpreted this stronger than intended:

I think this makes sense, it's more like we're adding Interop 2021 as an synonym for the effort, not erasing that it was originally called Compat 2021.

[2021-11-10 16:03] tomayac commented on #3
The old name apparently was perceived as [awkward](https://thenewstack.io/chrome-dev-summit-2021-its-a-web-evolution-not-revolution/#:~:text=with%20a%20typically%20awkward%20Google%20name%2C%20Compat%202021).

[2021-11-10 16:52] jensimmons opened #12 "dialog & ::backdrop"
**Description**
Implement / update implementations of the dialog element & ::backdrop pseudo-element.

**Specifications**
- [dialog element](https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element)
- [::backdrop pseudo-element](https://fullscreen.spec.whatwg.org/#::backdrop-pseudo-element)

**Tests**
[dialog tests](https://wpt.fyi/results/html/semantics/interactive-elem

[2021-11-10 17:45] foolip commented on #9
@jgraham would you consider this a proposal in itself, or will this spawn other individual proposals? (Mostly wondering where on tomorrow's agenda to slot this.)

[2021-11-10 17:57] jgraham commented on #9
Both (sorry!). I think the proposal is "have a bucket that's unifying theme is observed webcompat issues" but the actual selection of issues would require followup proposals.

[2021-11-10 18:06] bkardell commented on #9
I think we should skip an overly global "bucket of bugs" idea unless we can kind of theme them somehow.  Like, in your example, a goal could be to find things in a similar general area that involve something substantial enough to label and target... maybe just a bunch that are all generally related to lack of interop on interactive elements, for example, which play a huge role on the web?

[2021-11-10 18:08] bkardell commented on #12
Really high interop on a newly landing in several browsers feature like this, very quickly, seems kind of good to me.

[2021-11-10 19:41] jgraham commented on #9
Well the theme would be "bugs that have caused user-noticable breakage on sites".

To expand out on that: although developers often complain about missing features, the interop problems we see affecting sites in the wild often aren't of the form "this whole feature is missing". Of course it can happen, but when it does it's often a specific decision by authors to not care about cross-browser suppo

[2021-11-10 19:52] jensimmons opened #13 "Typography bucket"
**Description**
After web fonts were defined, and before variable fonts were invented, the CSS Font specification added powerful tooling for web designers & developers to use to create refined typography.

`font-feature-settings` is a CSS property that addresses the low-level plumbing for these ability. It has [broad support](https://caniuse.com/?search=font-feature-settings) across almost all bro

[2021-11-10 21:29] flackr opened #14 "Scroll snap"
**Description**
css-scroll-snap allows creating popular UX paradigms for paged or itemized content, and is essential for taking advantage of the browser's accelerated scrolling mechanisms and not having to reimplement fling physics to make these experiences as smooth and seamless as possible.

**Specification**
https://drafts.csswg.org/css-scroll-snap/

**Tests**
Links to web-platform-tests (on ht

[2021-11-10 21:33] jensimmons commented on #13
If we want to add more typography things to this, we could add support for the IC unit. It's a unit important for typesetting CJK scripts. `1ic` is the full width glyph in the element’s font, as represented by the “水”.

[2021-11-10 22:19] jensimmons commented on #13
Also, hanging punctuation:
https://drafts.csswg.org/css-text-3/#hanging-punctuation-property
https://developer.mozilla.org/en-US/docs/Web/CSS/hanging-punctuation

[2021-11-10 22:20] jensimmons commented on #13
Also, Initial Letter
https://drafts.csswg.org/css-inline/#sizing-drop-initials
https://developer.mozilla.org/en-US/docs/Web/CSS/initial-letter

[2021-11-10 22:24] jensimmons commented on #13
Also, CSS widows & orphans:
https://drafts.csswg.org/css-break-3/#widows-orphans
https://caniuse.com/css-widows-orphans
https://developer.mozilla.org/en-US/docs/Web/CSS/orphans
https://developer.mozilla.org/en-US/docs/Web/CSS/widows

[2021-11-10 22:59] flackr opened #15 "Pointer events"
**Description**
The pointerevents spec provides a unified input model for handling pointing devices regardless of their type (e.g. mouse, touch, stylus) and contains many new capabilities to these events such as predicted points and pointer capture.

**Specification**
https://w3c.github.io/pointerevents/

**Tests**
Links to web-platform-tests (on https://wpt.fyi) for the feature:
https://wpt.fyi/r

[2021-11-10 23:30] bfgeek opened #16 "-webkit-line-clamp"
**Description**
-webkit-line-clamp is a highly used feature to clamp the number of lines shown for inline-content.

**Specification**
https://drafts.csswg.org/css-overflow-3/#propdef--webkit-line-clamp

**Tests**
https://wpt.fyi/results/css/css-overflow?label=master&label=experimental&aligned&q=webkit-line-clamp
... kinda - some of these tests are incorrect.

**Rationale**
The un-prefixed version

[2021-11-11 09:56] jfkthame commented on #13
If you're thinking of improving support (and interop) for text in CJK scripts, can I propose supporting the Segment Break Transformation rules, which have the potential to make CJK authors' lives considerably better:
https://drafts.csswg.org/css-text-3/#line-break-transform

[2021-11-11 10:02] jgraham commented on #13
I think it would be useful to decide which are the highest priority areas in this proposal. Including all the specs/properties mentioned seems like it would end up with something that's too broad, and runs the risk of different implementations picking different subsets to prioritise, so not improving the actual interop. Is there data we can use to help narrow the scope to the features with highest

[2021-11-11 10:18] jgraham opened #17 "Editing, contenteditable and execCommand"
**Description**
contenteditable, execCommand and editing

**Specification**
https://w3c.github.io/editing/docs/execCommand/
https://w3c.github.io/contentEditable/

**Tests**
https://wpt.fyi/results/editing?label=experimental&label=master&aligned
https://wpt.fyi/results/contenteditable?label=experimental&label=master&aligned

**Rationale**
contenteditable/execCommand are widely used by web pages to

[2021-11-11 11:29] foolip commented on #16
Thanks for submitting this proposal, @bfgeek! Regarding `-webkit-line-clamp: none`, do you know if there are Chromium or WebKit bugs for that? I couldn't find either in a quick search, at least.

[2021-11-11 11:32] jgraham commented on #15
This is an feature where we see a relatively large number of developer-filed bug reports, indicating that it's something that people run into when creating sites (e.g. https://bugzilla.mozilla.org/show_bug.cgi?id=1529904, https://bugzilla.mozilla.org/show_bug.cgi?id=1675846, https://bugzilla.mozilla.org/show_bug.cgi?id=1695574) so I agree that this makes sense as a focus area.

[2021-11-11 11:46] jgraham commented on #2
I think there's some overlap with #9 in that they are both looking for ways to include ongoing improvements to existing features rather than just focusing on implementing new functionality. I fully agree that this kind of priority is a good idea. However I don't think we should blindly roll over the existing tests/areas, for two reasons:
* For Compat 2021 in particular there was less explicit buy-

[2021-11-11 14:46] annevk opened #18 "URL IDNA interop"
**Description**
IDNA allows for us non-ASCII code points in domain names.

**Specification**
https://url.spec.whatwg.org/#idna

**Tests**
https://wpt.fyi/results/url/toascii.window.html (to be modified by https://github.com/web-platform-tests/wpt/pull/31596 to show the issue better)

**Rationale**
Firefox and Safari follow the URL Standard and use Transitional_Processing set to false, but Chrome d

[2021-11-11 15:14] foolip commented on #2
Vetting the set of tests for Compat 2021 would be a good idea I think.

I like the model of including all tests in the latest metric, since it means there's just one metric at a time to focus on, but a downside is that over time, the new tests would account for less and less of the overall score. One could mitigate this by weighting new tests to be at least 50%, but that would also make the metric

[2021-11-11 15:19] foolip commented on #16
Survey data supporting this is in https://github.com/web-platform-tests/interop-2022/issues/7.  Most of the responses just said "line-clamp", but these were a bit more elaborate:
- "line-clamp with children elements"
- "I like how line-clamp is implemented in Chrome. The rest is just a bad developer experience and requires additional JavaScript."
- "-webkit-line-clamp is another one that would be

[2021-11-11 15:34] jgraham commented on #16
It would be good to get some more detail on which tests are incorrect/missing here.

Also, if I understand correctly it also seems like there's some spec work needed? Although there's definitely a good case that authors are looking for improvements here, we don't want to include things that are likely to undergo significant churn. How confident are we that we will have an correct set of tests and

[2021-11-11 16:26] bfgeek commented on #16
We don't have an explicit bug for this. This was implemented in FF when they shipped -webkit-line-clamp, and is the main reason why Blink fails the various tests linked above.

https://groups.google.com/a/chromium.org/g/blink-dev/c/SVD5wSqVwKU/m/eY28UiNkAwAJ?pli=1
external/wpt/css/css-overflow/webkit-line-clamp-008.html
external/wpt/css/css-overflow/webkit-line-clamp-029.html

Are the two tests. T

[2021-11-11 16:34] jgraham commented on #16
OK, that sounds good. Is it accurate to say the proposal is "pass the existing tests from https://wpt.fyi/results/css/css-overflow?label=master&label=experimental&aligned&q=webkit-line-clamp, with -008 and -029 changed to match the current Blink behaviour"?

[2021-11-11 16:41] una opened #19 "Containment"
**Description**
Container queries enable the querying of a parent element for responsive design information instead of relying on the global viewport (as with media queries). These rely on the containment spec, and enables component-level logic for styling based on inline and block size.

https://user-images.githubusercontent.com/1693164/141335772-f0e8698e-219f-4f83-9b78-7ee9faab0117.mp4

[More on

[2021-11-11 16:53] bfgeek commented on #16
Thats correct.

[2021-11-11 16:53] bfgeek commented on #16
(at least I believe those are the only two tests which need to be updated from my previous analysis).

[2021-11-11 16:56] una opened #20 "Color Spaces & CSS Color Functions"
**Description**
Functions that enable more dynamic color theming on the web platform. They also rely on expanded color spaces (LAB, LCH, P3).
-  `color-mix`: This function takes two `<color>` specifications and returns the result of mixing them, in a given `<color-space>`, by a specified amount.
-  `color-contrast`: This function takes, firstly, a single color (typically a background, but not nece

[2021-11-11 17:14] una opened #21 "Scroll-behavior & overscroll-behavior"
**Description**
The scroll-behavior CSS property sets the behavior for a scrolling box when scrolling is triggered by the navigation or CSSOM scrolling APIs.
- [MDN Link -- Scroll Behavior](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior)
- [MDN Link -- Overscroll Behavior](https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior)

**Specification**
[CSSOM View Module]

[2021-11-11 17:23] foolip commented on #9
For html/semantics/forms/attributes-common-to-form-controls/disabled-elements-01.html specifically, making sure it's part of #11 might also be an option.

[2021-11-11 17:25] gsnedders commented on #15
Note that Safari doesn't support touch events on macOS (the only platform on wpt.fyi), because macOS doesn't support touch input, as such I think we'd be opposed to including the touch action tests in this bracket. (Not making any statement about the inclusion of the rest of pointer events, just noting that there is that limitation.)

[2021-11-11 17:32] una opened #22 "AVIF Support"
**Description**
AVIF is a new image format derived from the keyframes of AV1 video. [More about AVIF](https://jakearchibald.com/2020/avif-has-landed/)

**Specification**
[AV1-AVIF](https://github.com/AOMediaCodec/av1-avif)

**Tests**
[Test Files](https://github.com/AOMediaCodec/av1-avif/tree/master/testFiles)

**Rationale**
AVIF provides significant image size savings. With web performance being a

[2021-11-11 17:38] jfkthame opened #23 "Text Decoration Line Uniformity"
**Description**
Text Decoration Line Uniformity and the 'decorating box'

**Specification**
[css-text-decor-4](https://drafts.csswg.org/css-text-decor-4/#text-line-constancy)

**Tests**
https://wpt.fyi/results/css/css-text-decor/text-decoration-subelements-001.html
https://wpt.fyi/results/css/css-text-decor/text-decoration-subelements-002.html
https://wpt.fyi/results/css/css-text-decor/text-decora

[2021-11-11 19:02] bkardell commented on #11
It strikes might be easier for me to explain my comments/questions in the meeting and on the other issue with specific examples and questions.

"form element stylability" is too general thing probably, and is not well defined enough and seems mostly wound up in openui sutff.  There might be something very specific worth looking at there, but I think it would need to be specific.  However, unprefix

[2021-11-11 21:16] eugenegirard commented on #15
Wouldn't touch action tests get ignored for MacOS then?

[2021-11-11 21:19] zcorpan commented on #11
For `appearance` (at least for the behavior of the property, not necessarily the precise rendering for all widgets), spec and test PRs are in review and I hope can be merged soon:

- https://github.com/whatwg/html/pull/7004
- https://github.com/w3c/csswg-drafts/pull/6537
- https://github.com/web-platform-tests/wpt/pull/30267

[2021-11-11 21:56] bfgeek commented on #16
Potentially also: http://wpt.live/css/css-overflow/webkit-line-clamp-024.html as this is assume flex baseline behaviour instead of block baseline behaviour.

[2021-11-11 22:53] flackr commented on #15
Currently they result in failures, but it could be a good goal to update the tests so that lack of touch support on the platform skips the tests.

[2021-11-12 11:10] foolip commented on #23
cc @mrego who I've seen working on `text-decoration` on Twitter:
https://twitter.com/regocas/status/1451501063933136902
https://twitter.com/regocas/status/1458407730243321858

@mrego if you have information about interop issues in this space, and in particular examples of web developer's asking for it or struggling with it, that would be fantastic!

[2021-11-12 12:01] mrego commented on #23
We're working on wavy text-decorations (CC @delan), due to our work on adding support to `:spelling|grammar-error` pseudos. As we want to move from custom painting to use the CSS codepath, that's why we had to fix that issue on twitter.

Still there are more issues related to `text-decoration` that would benefit from the "decoration box" concept, and that only Firefox seems to implement properly.

[2021-11-12 13:19] foolip commented on #23
While text decoration hasn't been a hotspot of complaints in any survey I've looked at, it has been brought up. Here's a quote from the [State of CSS 2021 results](https://docs.google.com/spreadsheets/d/1W1scqBvz6xRERPGOCm_29cc71U9CJiIlfeNNyys-27M/edit#gid=1399297592):

Another, going back to the [MDN compat survey](https://insights.developer.mozilla.org/reports/mdn-browser-compatibility-report-20

[2021-11-12 13:22] foolip commented on #23
@jgraham this might be a candidate for https://github.com/web-platform-tests/interop-2022/issues/9, if it is ultimately a handful of tests and the importance comes from site compat issues.

(I'm not saying I don't think this worthy as a standalone proposal, just noting the options.)

[2021-11-12 14:08] mrobinson commented on #14
The existing tests here might be a bit misleading, because a lot of issues are fixed in upstream WebKit already. You can see the delta is a bit smaller if you add the experimental version of WebKitGTK to the list of browsers.

[2021-11-12 14:57] mrego commented on #23
This might be related to this bug https://bugs.webkit.org/show_bug.cgi?id=230083. `text-decoration` in WebKit is still the old thing that is now `text-decoration-line`; and the `-webkit-text-decoration` shorthand needs to move to `text-decoration`.

[2021-11-12 16:14] foolip commented on #18
How would this affect developers? Is this something that currently leads to site compat issues, or do web developers have to avoid IDNA domain names because of issues like this?

[2021-11-12 16:33] foolip opened #24 "Agenda for Nov 18 meeting"
This is the agenda for the next meeting, posted here to make it easier to suggest additions.

We are currently at this step in the timeline from https://github.com/web-platform-tests/rfcs/pull/99:
Nov 8 – Nov 21: Browser vendors and others interested in contributing to the effort review the areas and suggest changes to scope, tests, etc. Ranking the proposals by internal priority could also be hel

[2021-11-12 16:42] foolip commented on #19
There are a lot of tests in https://wpt.fyi/results/css/css-contain, but they seem to be about the `contain` property rather than the `@container` rule.

It loos like we have a bunch of tests in Chromium that haven't been upstreamed to WPT yet:
https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/web_tests/wpt_internal/css/css-conditional/container-queries/

Are those tests s

[2021-11-12 16:59] foolip commented on #4
Does anyone have a good grasp on the testing situation around this? I've searched for svh, lvh and dvh in web-platform-tests but can't find any existing tests.

Hopefully some of the tests in https://wpt.fyi/results/css/css-values are relevant, a bunch of them include "100vh" at least.

https://wpt.fyi/results/css/css-env spontaneously looks like too few tests to be covering `env()` well but I did

[2021-11-12 18:32] mfreed7 commented on #11
Thanks for the comments here. I think I may have confused things by starting my list with "Form element stylability". I didn't intend this issue to be about forward-looking things that OpenUI is working on. As several have pointed out, that type of "new stuff" likely doesn't belong here.

But I do think perhaps some corner case form control stylability things could be included here? Things that pr

[2021-11-12 18:44] gsnedders commented on #4
The [WebKit tests](https://github.com/WebKit/WebKit/blob/main/Tools/TestWebKitAPI/Tests/WebKitCocoa/CSSViewportUnits.mm) for the new viewport units are Obj-C++ so that they can configure the viewport appropriately.

Certainly simply writing tests that assert the new viewport units are supported isn't too hard, nor that they are related to the UA-default viewport appropriately. Testing the dynamic

[2021-11-13 15:22] foolip commented on #4
For the new viewport units, I wonder if we could have shallow automated tests, but also write manual tests for things like the behavior when the address bar gets hidden on scroll.

In parallel we could work out what automation would be required for these tests, and maybe automate them for an Interop 2023 metric.

[2021-11-13 15:59] jensimmons commented on #11
Rather than spending more time debating whether or not we should perhaps consider a to-be-determined-in-the-future list of possibilities, I’d like to assert that yes, this is an area folks are willing to consider. There’s no one objecting to suggestions that concern form controls.

What’s needed is a specific list. What exactly is proposed? As we make decisions about what will be included in Inter

[2021-11-13 16:17] mfreed7 commented on #11
Great! I guess I misunderstood your first post. As I said, @josepharhar will work on putting together a proposed list.

[2021-11-15 05:49] delan commented on #23
Yeah, one of the biggest problems with Blink’s text-decoration impl is that we “propagate” decorations with an inheritance hack, rather than with decorating boxes as required by the spec. Here’s another bug for the list: <https://crbug.com/553174>

[2021-11-15 16:21] gsnedders commented on #5
Tests: https://wpt.fyi/results/css/css-cascade?label=master&product=chrome%5Bexperimental%5D&product=firefox%5Bexperimental%5D&product=safari%5Bstable%5D&product=webkitgtk%5Bexperimental%5D&aligned&q=layer has a variety

@anttijk @xiaochengh given the ongoing implementation in both WebKit and Blink where these seem to come from, what's the coverage like? AIUI it's good?

[2021-11-15 16:52] jensimmons commented on #4
I might suggest we think of this project in distinct parts, some of which should be included & some of which should not:

1) Include the new units and anything else that's already well-specified in Interop 2022. Create/collect tests as best we can.

2) Research the current state of implementations in browsers. Document what's found. This document could be a resource for various working groups to r

[2021-11-15 17:19] jensimmons commented on #13
Tests for [Segment Break Transformation](https://wpt.fyi/results/css/vendor-imports/mozilla/mozilla-central-reftests/text3?label=master&label=experimental&product=chrome&product=edge&product=firefox&product=webkitgtk&aligned&q=segment%20break%20transformation)

[2021-11-15 17:38] jensimmons commented on #20
Tests:
- [Color mix tests](https://wpt.fyi/results/css/css-color?label=master&label=experimental&aligned&q=color-mix)
- [LAB](https://wpt.fyi/results/css/css-color?label=master&label=experimental&aligned&q=LAB)
- [LCH](https://wpt.fyi/results/css/css-color?label=master&label=experimental&aligned&q=LCH)
-  need tests for color-contrast
-  need tests for P3

[2021-11-15 17:40] gsnedders commented on #20
grep is finding a bunch:

https://wpt.fyi/results/css/css-color?label=master&label=experimental&aligned&q=predefined-005.html%20or%20color-function-parsing.html%20or%20xyz-005.html%20or%20lab-008.html%20or%20prophoto-rgb-005.html%20or%20greensquare-display-p3-ref.html%20or%20rec2020-005.html%20or%20lch-008.html%20or%20predefined-006.html

[2021-11-15 18:07] xiaochengh commented on #5
The test coverage looks good to me, other than below:
- https://github.com/w3c/csswg-drafts/issues/6323 is still unresolved yet. It may define a new behavior that needs new tests.
- CSSOM API, which is still pending on the exact spec text to be written down. All major spec issues have been resolved, though (see https://github.com/w3c/csswg-drafts/issues/6576)

[2021-11-15 22:51] bkardell opened #25 "MathML-Core L1"
**Description**
MathML-Core is supposed to be in the browser interoperable subset of MathML.  The [spec](https://w3c.github.io/mathml-core/) is a working draft, but it was built with a lot of input along the way and there have even been changes to align in browsers already.  The spec itself should even aync load some tests and results summaries.  They make a nice theme of a group of things we can

[2021-11-16 16:16] foolip commented on #25
Per the timeline in https://github.com/web-platform-tests/rfcs/pull/99 it's a bit late for new proposals, but we haven't discussed what to do in this case, so I'll just react and see what we decide together.

I know that MathML hasn't been a priority for Google in a very long time, so my main question here is if there is a path to getting this enabled by default in Chromium in 2022? Is https://ope

[2021-11-16 17:02] josepharhar commented on #11
Here is a concrete list of things we could do, with specific actions bolded.
- `<input type=range>`
    - There were many entries in the spreadsheet of people asking for improved range stylability and pseudo elements.
    - The pseudo elements aren't specced, aren't tested, and aren't in every browser. ***We could spec and test these pseudo elements.***
    - There is a datalist feature in the spe

[2021-11-16 18:21] gsnedders commented on #11
To be clear, I presume you’re suggesting we (browser vendors collectively) do this work in the appropriate group (be in the WHATWG HTML workstream, the W3C CSS WG, or W3C Open UI CG?

On the whole, I think including anything which doesn’t _already_ have a specification (in at least draft form) should probably be excluded, as otherwise we’re aiming to go from a blank page to an interoperably implem

[2021-11-16 19:38] jensimmons commented on #25
@foolip If you want to enforce the Nov 7 deadline, then we should do so fairly. Fourteen proposals were submitted Nov 8 or later.

[2021-11-16 22:49] foolip commented on #25
I don't want to do that, no, but also don't know when we should draw the line. This whole process is a WIP and we'll have to discuss in the next meeting.

[2021-11-18 09:18] annevk commented on #18
Yeah, for instance German speakers cannot have domains with `ß` in them as they do not work in Chrome (becomes `ss` rather than `xn--zca`). And on the other side, URLs such as `https://www.👨‍🦰.tk/` only work in Chrome (but shouldn't).

[2021-11-18 09:22] jgraham commented on #23
I'm going to make this a compat bug under #9

[2021-11-18 09:26] jgraham commented on #18
I'm going to move this to be a candiate for #9 rather than a standalone proposal.

[2021-11-18 09:39] jgraham opened #26 "Remove nonstandard event.path"
**Description**
Blink is shipping the nonstandard `event.path` property which was replaced by the `event.composedPath()` method. Sites depending on the nonstandard property has caused significant breakage.

**Bug reports**
https://bugzilla.mozilla.org/show_bug.cgi?id=1697551
https://bugzilla.mozilla.org/show_bug.cgi?id=1697590

**Specification**
[`composedPath`](https://dom.spec.whatwg.org/#dom-ev

[2021-11-18 09:49] jgraham opened #27 "Mouse events on disabled input elements"
**Description**
The spec requires that disabled form controls don't receive `click` events. Gecko follows this and also prevents further event propogation, but other browsers apply it to all mouse events and allow further event propogation (I think; more comprehensive tests are required). This has created a number of serious site compatibility issues.

**Bug reports**
https://bugzilla.mozilla.org/

[2021-11-18 10:18] jgraham opened #28 "HTMLElement.onbeforeinput"
**Description**
Gecko and WebKit implement HTMLElement.onbeforeinput as an event handler attribute for the beforeInput event, but this is missing in Blink. This allows feature detection of the beforeInput event.

**Bug reports**
[CHR-947408](https://bugs.chromium.org/p/chromium/issues/detail?id=947408)

**Specification**
https://github.com/w3c/uievents/issues/218

**Tests**
Need to write a test

T

[2021-11-18 10:32] jgraham opened #29 "Propogation of overscroll-behaviour from body to root"
**Description**
Blink propogates the `overflow-behavior` from the `<body>` element to the viewport, instead of from the root element to the viewport. See https://docs.google.com/document/d/1-pqljDgzzgRVve2oWUq237JPgtT12wcoctxbtBaHZdU/edit# for more.

**Bug reports**
[CHR-954423](https://bugs.chromium.org/p/chromium/issues/detail?id=954423)

**Specification**
https://drafts.csswg.org/css-overscroll

[2021-11-18 10:49] jgraham opened #30 "Line boxes don't contribute to scrollable overflow"
**Description**
In Gecko line boxes contribute directly to scrollable overflow, whereas in Chromium only the text within those line boxes contributes to scrollable overflow.

**Bug reports**
[CHR-1082517](https://bugs.chromium.org/p/chromium/issues/detail?id=1082517)
https://bugzilla.mozilla.org/show_bug.cgi?id=1637511
https://github.com/webcompat/web-bugs/issues/53125

**Specification**
https://d

[2021-11-18 11:30] annevk opened #31 "OffscreenCanvas"
**Description**
Enabling usage of canvas in workers.

**Specification**
https://html.spec.whatwg.org/multipage/canvas.html#the-offscreencanvas-interface

**Tests**
https://wpt.fyi/results/html/canvas/offscreen

**Rationale**
I have reason to believe all browsers plan to ship this in the coming year. Making it part of this effort would help ensure implementations are aligned, issues with the specif

[2021-11-18 12:45] jgraham opened #32 "Align-content property on flex children"
**Description**
Blink doesn't honor multi-line container's `align-content` property when determining static position of abspos flex children.

**Bug reports**
https://bugs.chromium.org/p/chromium/issues/detail?id=1012441
https://bugs.chromium.org/p/chromium/issues/detail?id=1011718
[Broke adobe.com](https://github.com/webcompat/web-bugs/issues/8616)

**Specification**
https://drafts.csswg.org/css-

[2021-11-18 12:51] jgraham opened #33 "Formatting context root with negative margin"
**Description**
Chromium thinks that a formatting context root stops fitting in a tiny space, when you give it a negative margin

**Bug reports**
https://bugs.chromium.org/p/chromium/issues/detail?id=1141209
https://github.com/webcompat/web-bugs/issues/60099
https://github.com/webcompat/web-bugs/issues/92024
https://github.com/webcompat/web-bugs/issues/90988
https://github.com/webcompat/web-bugs/i

[2021-11-18 12:58] jgraham opened #34 "Permissions-Policy web-share=self"
**Description**

**Bug reports**
https://bugs.chromium.org/p/chromium/issues/detail?id=1196138
https://bugs.webkit.org/show_bug.cgi?id=214448
https://bugzilla.mozilla.org/show_bug.cgi?id=1701841
https://bugzilla.mozilla.org/show_bug.cgi?id=1737541

**Specification**
https://w3c.github.io/web-share/#permissions-policy

**Tests**
https://wpt.fyi/results/web-share?label=master&label=experimental&alig

[2021-11-18 16:01] jgraham commented on #3
I think we can resolve this one as fixed

[2021-11-18 17:36] foolip commented on #2
Added label to mean that we should revisit the tests, not that we don't know what they are.

[2021-11-18 17:50] foolip commented on #9
https://github.com/web-platform-tests/interop-2022/labels/compat-bug-proposal is the list of issues.

[2021-11-18 17:53] foolip commented on #11
This issue could probably be handled similarly to the suggestion in https://github.com/web-platform-tests/interop-2022/issues/4#issuecomment-969106336, including the well-spec'd and -tested things, and some more future-looking work happening, but not as part of a metric.

[2021-11-18 17:58] gsnedders commented on #21
https://wpt.fyi/results/css/cssom-view?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=scroll-behavior

[2021-11-18 18:02] bkardell commented on #11
Given the confusion in the description and discussion here - just for ease of following, can I suggest that we open a new issue with the specifics and close this one... it's too easy to start at the top and immediately read it differently than I think several of us are talking about which does not include future looking work. I don't think editing the OP is better.

[2021-11-18 18:34] josepharhar commented on #11
It seems like maybe I should be providing a list of existing WPTs instead of suggesting spec or test changes...?

[2021-11-18 19:05] jgraham commented on #11
Based on the confusion here, I think a new issue with a list of:
* Areas (from existing specs) that comprise the proposal.
* wpt tests covering those areas, plus any known missing cases or tests that need to be updated.

will be needed to assess the proposal for Interop 2022.

If there are additional areas where you think we aren't there yet, but where it might be possible to make enough progress

[2021-11-18 20:23] jensimmons commented on #11
That’s right.

This group does not have the ability to work on specifications. Web standards are created by working groups (and community groups) that have a rigorous process for ensuring the ideas generated by the group are dedicated to open source and can become part of the web. We cannot to put together an ad-hoc group to invent something new, without the legal contracts in place to protect the

[2021-11-19 08:23] #24 closed

[2021-11-19 08:25] foolip commented on #31
@fserb do you have data about web developer demand for `OffscreenCanvas`? And do you think the existing tests for this feature are sufficient?

[2021-11-19 19:55] fserb commented on #31
We do know about [OffscreenCanvas usage](https://chromestatus.com/metrics/feature/timeline/popularity/1624) which at this point is around 27% (in comparison to HTMLCanvasElement which is around 41%). The real useful number would be OffscreenCanvas in workers (where there's no alternative) but we don't have those.

For the tests, yes. We are very confident they have good coverage. Most of our tests

[2021-11-19 23:29] #3 closed

[2021-11-22 17:25] josepharhar commented on #12
There was a recent change to the spec and tests here:
- https://github.com/whatwg/html/pull/7285
- https://github.com/web-platform-tests/wpt/pull/31523

And here is a crbug for changing that behavior: https://bugs.chromium.org/p/chromium/issues/detail?id=383230
The new tests are already included in the same directory as the WPT link in the issue description.

[2021-11-22 20:41] foolip commented on #12
While `<dialog>` wasn't among the top categories in https://github.com/web-platform-tests/interop-2022/issues/7, there were a few mentions of it in State of CSS 2021, enough for me to remember at least. Here they are:
-

[2021-11-22 21:21] foolip commented on #2
It will soon be easier to review the list of tests for Compat 2021. https://github.com/web-platform-tests/wpt-metadata/pull/2196 is the first PR labeling some tests, using "interop-2021" as the label, and once that works I'll label all of them. Then it will be easy to filter out just the tests that are failing in some browser for review.

[2021-11-22 21:40] foolip commented on #4
Looking for some `vh` tests, https://wpt.fyi/results/css/css-values/viewport-units-css2-001.html is the only one that reveals any difference between browsers. However, I think we could still include all the ones starting with vh* or viewport* in https://wpt.fyi/results/css/css-values.

@jensimmons what kinds of tests would you be looking for when it comes to "percent lengths, eg: height: 100%"? In

[2021-11-22 22:36] foolip commented on #13
The Chromium bugs for `font-variant-alternates` and `font-variant-position` are here:
https://bugs.chromium.org/p/chromium/issues/detail?id=716567
https://bugs.chromium.org/p/chromium/issues/detail?id=1212668

@jensimmons regarding the advice to use `font-variant-alternates` and `font-variant-position` instead of `font-feature-settings`, do you know if it's currently possible to use `font-feature-

[2021-11-22 22:47] foolip commented on #15
Looking at https://wpt.fyi/results/pointerevents?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned, some touch tests are easy to exclude, like any that have "touch" in the test name.

More problematic are any tests that use touch but don't strictly have to. In particular, test using `touchScrollInTarget` would perhaps make sense for wheel-induced scrolling, but

[2021-11-23 00:47] josepharhar commented on #11
As @mfreed7 mentioned, we've put together a specific list of form element interop areas, each with a spec, tests, and developer interest. All of these are "backwards looking" - they cover areas that are already standardized and have tests written. We would like to propose this list be used as the "Form Controls" item for Interop-2022.

Here is the proposed list:
- appearance
  - Spec
    - https:/

[2021-11-23 11:18] foolip commented on #22
https://caniuse.com/avif says AVIF is supported in Chrome and Firefox.

https://wpt.fyi/results/apng is an example of image format tests in WPT, but this isn't very common. There are not tests that I know of for JPEG, PNG or WebP specifically, and I can't find any tests for AVIF. @una do you know if https://github.com/AOMediaCodec/av1-avif/tree/master/testFiles is being used in automated browser t

[2021-11-23 11:46] foolip commented on #16
@bfgeek I added the `requires:spec` label here in our previous meeting, but I hadn't read https://github.com/web-platform-tests/interop-2022/issues/16#issuecomment-966440702 then, just noted the "kinda" in the description.

For the spec situation, can you outline which bits of the spec that are included, or which should be ignored, whichever is the smaller set?

Or could this be framed as followin

[2021-11-23 11:58] foolip commented on #20
It looks like `color-contrast()` is the only bit with no tests at all in WPT yet, then.

[BCD](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color-contrast()#browser_compatibility) gave a clue about WebKit support, and I found this test:
https://github.com/WebKit/WebKit/blob/b56dc7b9643ad44de6f6194df3cb06336e879ca1/LayoutTests/fast/css/parsing-color-contrast.html

Any chance that co

[2021-11-23 12:02] foolip commented on #21
@flackr can you help judge if the tests here are sufficient? There are tests for both properties, but it's hard for me to tell if they're missing important things.

[2021-11-23 12:39] mrego commented on #16
From the spec side, @frivoal has been paying attention to this topic, and maybe he can help to clarify the status of things.

[2021-11-23 12:43] mrego commented on #23
These are not exactly the same problem, but one interop issue related to text decorations that I came across today: https://bugs.chromium.org/p/chromium/issues/detail?id=1172623 (this one has caused interop issues on the wild: https://bugzilla.mozilla.org/show_bug.cgi?id=1728453).

And there are a few others related too: https://bugs.chromium.org/p/chromium/issues/detail?id=1225248 & https://bugs.

[2021-11-23 19:14] flackr commented on #15
@mustaqahmed Do you think you could help with this?

[2021-11-23 20:23] xiaochengh commented on #5
The CSSOM API has just been specified: https://drafts.csswg.org/css-cascade-5/#layer-apis
I'll add tests to cover it.

[2021-11-24 14:19] foolip commented on #2
The labeling support has landed and I've added the `interop-2021` labels. Here are all the tests from Compat 2021, and another view filtered to failing (non-passing) tests:
- [label:interop-2021](https://staging.wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2021)
- [label:interop-2021 (status:!pass&status:!ok)](https://stag

[2021-11-25 15:46] foolip commented on #20
cc @fserb, who I serendipitously learned has some interest in this for next year.

[2021-11-25 21:32] flackr commented on #14
@kevers-google is adding the extra few tests.

[2021-11-25 21:56] flackr commented on #21
It looks like we don't have any tests of the difference between `overscroll-behavior: contain` and `overscroll-behavior: none`. There is only a difference on certain platforms - I think Mac, iOS and Android - but we could write tests that pass if there is no observable default scroll overflow behavior on the current platform.

The CSS scroll-behavior tests look sufficient for the CSS property, tho

[2021-11-26 03:04] frivoal commented on #16
The spec's status is about as stable as it'll get without implementations progressing further.
With a couple of minor exceptions (see below), it's meant to be design-complete, both taking into account what the "right" design should be, and compat constraint as they are understood.

If implementation experience shows that we underestimated the demands of compatibility with the -webkit- version, the

[2021-11-26 07:24] foolip commented on #22
I've learned from @dalecurtis that there are a few tests for AVIF in https://wpt.fyi/results/webcodecs/image-decoder.https.any.html.

Looking for other *.avif files in WPT and tests that use them, I found one more, a manual test:
https://wpt.live/html/canvas/element/manual/wide-gamut-canvas/canvas-createImageBitmap-e_srgb.html

Basic tests for AVIF in `<img>` would be needed here, of course.

[2021-11-26 11:12] lilles commented on #19
We plan to move the tests in wpt_internal over to wpt/css/css-contain/ over the next couple of weeks, but not necessarily file by file. We probably want to restructure based on common testing patterns and organize per spec section to make it easier to check coverage.

[2021-11-26 11:14] lilles commented on #19
We would like to land this first as the basic syntax changed from our current impl: https://chromium-review.googlesource.com/c/chromium/src/+/3301380

[2021-11-26 15:42] foolip commented on #12
I just found an old email from @nt1m, who pointed out that we have some tests for `<dialog>` in Chromium:
https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/web_tests/html/dialog/

Looking through the history, I see that some were already converted and upstreamed to WPT by @shanmuga-m:
https://github.com/web-platform-tests/wpt/pull/7338
https://github.com/web-platform-tests

[2021-11-26 15:48] josepharhar commented on #12
@foolip here is a related crbug: https://bugs.chromium.org/p/chromium/issues/detail?id=1240798

[2021-11-29 16:34] jensimmons commented on #2
Digging into the tests, it’s interesting to see that Compat 2021 included both:
- the new CSS property, `aspect-ratio`
- the new sizing calculations based on using width & height HTML attributes to calculate an aspect ratio to use in first paint

Those are two very different things. Only the first one was written up in the publicity about this project. But there are tests for both.

Interesting.

[2021-11-29 16:52] foolip opened #36 "Agenda for Dec 2 meeting"
Here's the proposed agenda/procedure for the Dec 2 meeting:
- Show [proposals](https://github.com/web-platform-tests/interop-2022/labels/proposal) and note which have "requires" labels
- Discussion, enthusiasm or concerns for the remaining proposals from [the previous meeting](https://github.com/web-platform-tests/interop-2022/issues/24). If at all possible, please comment on the issue before the

[2021-11-29 17:09] foolip commented on #36
In order to do the "Indicating support for proposals" and "Does anyone have concerns" steps, it's important that everyone participating has made a list of proposals they want to see included and would rather not see included ahead of time. This is along the lines of what @jgraham suggested in the previous meeting.

[2021-11-29 17:12] gsnedders commented on #2
Also would be interesting to review would be what tests were excluded (modulo obvious cases, like subgrid and masonry for grid).

That said, there's probably an argument that if we want to do it as carry-over (in part to avoid massively regression scores of existing browsers), then we should just keep the same sets.

[2021-11-29 17:22] annevk commented on #22
It might be problematic to include tests that depend on another feature, e.g., `ImageDecoder`. (Or maybe that's what you meant.)

[2021-11-29 17:54] bkardell commented on #25
Definitely.

Tricky.  There is obvious demand and need to share mathematical text on the web, yes.  At the same time, you're not wrong that it's not the majority of home pages that will ever contain it, or the majority of web developers who will clamour for it among their top issues.  It's the millions of equations in wikipedia alone, or educational resources, journals, research and so on.  It is

[2021-11-29 17:54] #25 closed

[2021-11-29 20:01] gsnedders commented on #13
it is

[2021-11-29 20:37] gsnedders commented on #15
Looking at https://wpt.fyi/results/pointerevents/idlharness.window.html?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=%21touch%20%21pen (i.e., excluding both touch and pen) we see much more green than the overall summary. Looking at idlharness:

 * `altitudeAngle`/`azimuthAngle` is unsupported in Gecko/WebKit
 * `getCoalescedEvents`/`getPredictedEvents` is

[2021-11-29 20:38] foolip commented on #16
I've removed the `requires:spec` label based on this. @bfgeek can you also update the issue description?

[2021-11-29 20:45] foolip commented on #17
I've created the `requires:spec-maturity` label and applied it due to the status of https://w3c.github.io/editing/docs/execCommand/, which calls itself Unofficial Draft and has a big scary warning at the top.

I haven't gone through all proposals to see what else the label might apply to.

[2021-11-29 20:49] foolip commented on #19
I've added the `requires:spec-maturity` label because https://www.w3.org/TR/css-contain-3/ is 404, which I presume means that this hasn't been published as FPWD yet.

[2021-11-29 22:18] jensimmons commented on #12
We should make sure we use modern tests that match the HTML spec version that Mozilla & Apple are endorsing, and not the older version from the past that isn't accessible. IOW, I'm not sure that older tests are testing the right version of the spec.

[2021-11-29 22:29] jensimmons commented on #12
I wanted to get another data point for a sense of whether or not this is important to web developers. After 6 years of doing this research non-stop, my instincts say yes, `dialog` is highly requested. But hey, looking for new information to double check long-held beliefs is always a good idea. So I wrote [a tweet](https://twitter.com/jensimmons/status/1462908246985949185).
<img width="601" alt="Sc

[2021-11-30 08:46] foolip commented on #2
There may be

[2021-11-30 08:53] foolip commented on #2
Commented out lines and comments in these files might help:
https://raw.githubusercontent.com/Ecosystem-Infra/wpt-results-analysis/main/compat-2021/aspect-ratio-tests.txt
https://raw.githubusercontent.com/Ecosystem-Infra/wpt-results-analysis/main/compat-2021/css-flexbox-tests.txt
https://raw.githubusercontent.com/Ecosystem-Infra/wpt-results-analysis/main/compat-2021/css-grid-tests.txt
https://raw.

[2021-11-30 09:27] foolip commented on #2
@jensimmons `aspect-ratio` and the new behavior of `width` and `height` attributes are indeed not the same thing, but the latter is [defined in terms of the former](https://html.spec.whatwg.org/#map-to-the-aspect-ratio-property) and [tested](https://github.com/web-platform-tests/wpt/blob/3f103ef2cd46ee0ef2c92e14ef9b7753353514a4/html/rendering/replaced-elements/attributes-for-embedded-content-and-i

[2021-11-30 09:29] foolip commented on #2
In https://github.com/Ecosystem-Infra/wpt-results-analysis/pull/66 @dholbert found an excluded a Houdini-dependent transforms test. I've merged the PR to retroactively exclude it, but we should consider including this test instead:
https://wpt.fyi/results/css/css-transforms/animation/transform-interpolation-inline-value.html

[2021-11-30 10:31] emilio opened #37 "MouseEvent.layerX/layerY"
**Description**
The `MouseEvent.layerX` and `layerY` properties are implemented everywhere but right now they're not interoperable and cause compat pain.

Right now, they depend on internal layerization details in WebKit and Blink (which are different and subject to change). Gecko's definition is somewhat reasonable but of course doesn't match those.

**Bug reports**
https://github.com/webcompat/w

[2021-11-30 10:32] foolip commented on #2
Thanks to that I also noticed there are some [tentative](https://web-platform-tests.org/writing-tests/file-names.html?highlight=tentative) tests included in Compat 2021. Quick analysis:

<table>
<tr>
  <th>test
  <th>results
<tr>
  <td><a href="https://wpt.fyi/results/css/css-flexbox/table-as-item-min-content-height-1.tentative.html?run_id=5648693177876480&run_id=5717400826675200&run_id=5638396849

[2021-11-30 11:04] foolip commented on #2
The Flexbox tentative tests came from https://chromium-review.googlesource.com/c/chromium/src/+/2810520 with this comment:

The Grid test

@davidsgrogan do you know if there's an open spec issue for this? I've searched https://github.com/w3c/csswg-drafts/issues but am unsure if any are related.

----

The Grid test came from https://chromium-review.googlesource.com/c/chromium/src/+/2523743 and lin

[2021-11-30 13:47] gsnedders commented on #16
Do the tests match the spec, or does Blink match the spec? Either way, bugs should be filed as appropriate!

By this you mean the behaviour defined by `continue: -webkit-discard`, right? I'd kinda like some clearer definition for the purposes of Interop 2022 about what exact behaviour we're considering out of scope. Are we just assuming that content after the fragmentation break is not rendered, a

[2021-11-30 14:01] gsnedders commented on #2
I don't have access to that.

[2021-11-30 15:03] emilio commented on #2
I think I made it tentative because I didn't find the relevant spec text at the time. I guess the "the user agent does not expect this to change" bits in https://html.spec.whatwg.org/multipage/rendering.html#images-3 sorta cover this case, but the spec doesn't say what happens when none of these conditions happen (presumably you go to the replaced element rendering).

But yeah the test should prob

[2021-11-30 16:44] bfgeek commented on #16
Blink matches the spec here. I've got it on my list to update the noted tests above in the repo.

Correct. Basically dropping content as described by `continue: -webkit-discard` would be out of scope for interop 2022.
All engines today *will* render content after the ellipsis, but all web developers place a `overflow: hidden` on the box to hide the excess content.

E.g.
[code]

[2021-11-30 16:53] foolip commented on #25
@bkardell my questions weren't intended to shut down or discourage this proposal, if you'd like to keep it on the table then that's 100% fine. Even though Google hasn't been prioritizing MathML and isn't likely to in 2022 either, if other browser vendors would want to see this included and Igalia could drive it for Interop 2022, that would be a fantastic outcome in my view.

But it's up to you, of

[2021-11-30 20:04] meyerweb commented on #36
@bkardell and I talked these over in depth, as well as the rest of the issues list outside of the “compat-bug-proposal”, and the following is what we came up with.

We’re strongly in favor of including all (or any) of the following:

* dialog / ::backdrop
* offscreenCanvas
* A Form Controls bucket
* A typography bucket, containing:
	* Text decoration uniformity
	* font-variant-*
	* hanging-punctua

[2021-11-30 20:12] jensimmons commented on #6
@fantasai Could you track down the bug tickets for each engine?

[2021-11-30 21:45] foolip commented on #36
Thanks @meyerweb, that's very useful! I have thoughts and opinions about a few things, but I'll save that for Thursday after we see which proposals seem most viable.

[2021-11-30 22:21] jensimmons commented on #11
Thanks for creating this list, @josepharhar. This makes discussing form controls very concrete. Excellent.

For WebKit bug tickets…
- appearance — actually, this is the ticket: https://bugs.webkit.org/show_bug.cgi?id=143842. Could you update the link in your comment?
- input elements, especially type=month and type=week — could we break this out into two items: 1) implementing missing controls (ty

[2021-11-30 23:06] jensimmons commented on #13
I like to withdraw the suggestion of widows & orphans. While this functionality is highly requested, I don't believe that the current spec solves the problem we designers & developers have.

Instead, I believe font-size-adjust and/or text-size-adjust would be a better addition to this bucket.

[2021-11-30 23:11] jensimmons commented on #13
@foolip `font-feature -*` properties do accomplish the same end-results as `font-variant-*` properties, but Authors are not supposed to be using `font-feature-*`. That's a low level API which is hard to deal with in the cascade, and has a lot of obscure values. The CSSWG intended for Authors to write code using `font-variant-*` exclusively. However, Authors cannot do so, because of the lack of imp

[2021-12-01 08:55] foolip commented on #2
Two more tests I think we should reconsider are print reftests, which Edge and Safari don't run at all:
https://wpt.fyi/results/css/css-flexbox?q=print&run_id=5763010778890240&run_id=5717707447074816&run_id=5674576043311104&run_id=5652492663652352

@gsnedders is print reftest support for Safari something you think might materialize in 2022? If not, I think we should drop these tests, WDYT?

[2021-12-01 09:09] foolip commented on #2
Thanks for looking into this, @emilio! I've sent https://github.com/web-platform-tests/wpt/pull/31805 to rename the test and requested your review.

[2021-12-01 13:00] foolip commented on #12
Thanks for pointing this out, I agree that's a strong signal in itself.

Do you know which spec changes were made around this? The WHATWG working mode involves adding tests, so PRs like https://github.com/web-platform-tests/wpt/pull/31523 might have made the necessary changes.

[2021-12-01 16:55] gsnedders commented on #11
Looking at the data from chromestatus.com:

| type           | usage     |
| -------------- | --------: |
| hidden         | 48.53514% |
| text           | 45.42959% |
| submit         | 25.57569% |
| search         | 16.79710% |
| checkbox       | 11.37675% |
| button         | 6.47834%  |
| email          | 5.17911%  |
| radio          | 4.55302%  |
| password       | 4.32131%  |
| file

[2021-12-01 17:55] gsnedders commented on #4
So I think the concrete suggestion here is:

1. Write tests that ensure support of the new viewport units:
   *  We can't, without extra test infrastructure, mutate the size of a dynamic viewport, but
   *  We can ensure they are supported, and that the relationship between them is conforming: svh <= vh <= lvh, and I think svh <= dvh <= lvh also holds.
2. Write tests for other CSS values that calc

[2021-12-01 18:06] gsnedders commented on #2
Apple does not comment on future products or releases.

[2021-12-01 21:04] foolip commented on #2
@gsnedders 😄

I take that to mean it requires some changes to Safari or safaridriver, I wasn't sure if it might be a matter of wptrunner bits only.

So, if anyone, for any reason or no reason, wants to drop print reftests from the test list, I think we should do that.

[2021-12-01 22:18] jensimmons commented on #4
[Igalia said](https://github.com/web-platform-tests/interop-2022/issues/36#issuecomment-982977026):

So let me propose a clear, more narrow scope for Viewport Measurements:

1) New Viewport Units
  - Implementation of the new viewport units, (short, long and dynamic / width, height, min, max, block, inline) — eg: `svh`, `lvh`, `dvh`; also `dvb`, `dvi`, etc.
  - Simple automated tests for those uni

[2021-12-02 00:12] josepharhar commented on #11
Thanks for the feedback!

Thanks, I added this bug to the appearance section of my comment. I kept the new webkit bug I filed in there as well though because 143842 is marked as fixed and doesn't appear at first to be about the new spec behavior that will hopefully be changed soon.

Done! I filed two new WebKit bugs for the `the-input-element` directory of WPTs and included them in my list.

This

[2021-12-02 08:12] foolip commented on #12
@nt1m thanks, I've asked internally about that PR and if there are any other `<dialog>` issues related to focus or accessibility that need attention. Do you know of others, or is some resolution of https://github.com/whatwg/html/pull/4184 the only outstanding issue here?

[2021-12-02 15:52] jensimmons commented on #13
I'm hearing desire for Color Fonts as well: https://drafts.csswg.org/css-fonts-4/#color-font-support

[2021-12-02 16:08] foolip commented on #2
https://github.com/Ecosystem-Infra/wpt-results-analysis/pull/69 is another case for our consideration, where @stephenmcgruer discovered that two tests pass in Chrome Dev only because of `--experimental-web-platform-features` and that behavior isn't on its way to stable. I'd default to dropping those tests, but it would be good to get the input of other browser vendors on the behavior in question.

[2021-12-02 16:21] foolip commented on #36
Mostly in order to help me in the meeting, here's the list of proposals that Google is most interested in for Interop 2022:

- https://github.com/web-platform-tests/interop-2022/issues/1
- https://github.com/web-platform-tests/interop-2022/issues/2
- https://github.com/web-platform-tests/interop-2022/issues/4
- https://github.com/web-platform-tests/interop-2022/issues/5
- https://github.com/web-pl

[2021-12-02 16:57] jgraham commented on #13
So, can we clarify what the actual proposal here is? It's difficult to understand what people think forms part of the final state of this proposal, and if we don't know that it's not possible to take a stance on it (or at least not a positive stance).

[2021-12-02 17:01] gsnedders commented on #13
So, concretely, I believe our proposal is:

### General Typography

1. Support `font-variant` shorthand + longhands
   * [Spec](https://www.w3.org/TR/css-fonts-4/#font-rend-props)
   * [Tests](https://wpt.fyi/results/css/css-fonts?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=font-variant)
2. Support `initial-letter`
   * [Spec](https://www.w3.org/TR/css-i

[2021-12-02 17:25] foolip commented on #19
@una says that https://github.com/w3c/csswg-drafts/issues/6426 is probably the last issue remaining and that publishing might be a few weeks out.

[2021-12-02 17:28] nt1m commented on #20
https://webkit-search.igalia.com/webkit/search?q=color-mix&path=LayoutTests&case=false&regexp=false
https://webkit-search.igalia.com/webkit/search?q=color-contrast&path=LayoutTests&case=false&regexp=false

[2021-12-02 17:35] gsnedders commented on #19
As noted, it appears is somewhat surprising there's still no FPWD.

The CSS WG [resolved in June](https://lists.w3.org/Archives/Public/www-style/2021Jun/0019.html):

See also [question on IRC today](https://logs.csswg.org/irc.w3.org/css/2021-12-02/).

[2021-12-02 22:42] josepharhar commented on #12
The only WPT which is explicitly concerned with the behavior in the [proposed spec change](https://github.com/whatwg/html/pull/4184) is [show-modal-focusing-steps.html](https://wpt.fyi/results/html/semantics/interactive-elements/the-dialog-element/show-modal-focusing-steps.html).

I [made a patch](https://chromium-review.googlesource.com/c/chromium/src/+/3312914) for the proposed change in chromiu

[2021-12-02 23:44] jensimmons opened #38 "Spreadsheet for tallying positions"
I had already made a spreadsheet in Numbers with the list of all the technology (including the sub-items in each bucket), so I thought I'd drop that list into a Google Doc as a start to our next step. Feel free to copy & paste this into another sheet if you'd like. Items are listed in order of when proposals were submitted.

It's here: https://docs.google.com/spreadsheets/d/1BWAwrBywedi7kBEij8NHU8

[2021-12-03 11:30] nt1m commented on #12
I think we can probably just use `autofocus` on tests unrelated which rely on focusing the first item.

[2021-12-03 13:04] foolip commented on #38
Perfect, thanks Jen! I'll make a copy with some instructions and share that around.

[2021-12-03 17:02] foolip commented on #38
Alright, the [Interop 2022 positions](https://docs.google.com/spreadsheets/d/1SQF81pf5hxFE9dMZcJGXE2RNmb7AjFHg6mnkf9KOEC0/edit?usp=sharing) has instructions and a sheet to copy for everyone participating in the process. Here are the different "positions" I landed on:

Shorthand | Meaning
-- | --
Support | Include in Interop 2022 metric
Oppose | Don't include in Interop 2022 effort at all
Neutral |

[2021-12-03 17:18] jensimmons commented on #13
Also under CJK Typography, as suggested by Mozilla:

6. Support `Segment Break Transformation`
- [Spec](https://drafts.csswg.org/css-text-3/#line-break-transform)
- [Tests](https://wpt.fyi/results/css?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=segment-break-transformation%20or%20seg-break-transformation)

[2021-12-03 17:35] foolip commented on #38
After a discussion in the Matrix rooms with @jgraham and @annevk I've updated the definitions in the table a bit.

[2021-12-03 18:24] jensimmons commented on #38
Two things:
1) We need columns or tab for each vendor, so people have a place to vote.
2) The sheet is currently view-only.

Also, who is voting?
- Google
- Apple
- Mozilla
- Igalia
... anyone else? What about Microsoft? Have you reached out to them to keep them in the loop throughout the process?

[2021-12-03 18:25] meyerweb commented on #38
I think the idea is for each team (or other org) to copy the sheet to their own Google Drive, and then edit that one.

[2021-12-03 20:12] jgraham commented on #38
No one. Per the initial RFC we are "seeking to identify […] areas that everyone would be happy to include" i.e. it's a process aimed at achieving consensus, not a vote.

[2021-12-03 21:47] achristensen07 commented on #13
Along with CJK Typography, it's probably worth including CJK text encoding, particularly iso-2022-jp, gbk, and gb18030

[2021-12-03 22:10] foolip commented on #38
@jensimmons that was my original intention, but with the "Sub-position" and comment columns, that seemed impractical, with 3 columns per org. However, I agree a single sheet would be great for an overview, and have added a [Summary sheet](https://docs.google.com/spreadsheets/d/1SQF81pf5hxFE9dMZcJGXE2RNmb7AjFHg6mnkf9KOEC0/edit#gid=688015744) for that. That can be one of the last things we fill in,

[2021-12-04 00:06] jensimmons commented on #38
Could you put the Sub-proposal column (one copy, on the left, for reference) and five copies of the Sub-position column (for each of the five orgs) in the Summary Tab instead of the Position column? Then we could all post our positions for all the items on one page.

Perhaps everyone could post their positions in the shared sheet by **end of day on Tuesday.** It would be helpful, I believe to be a

[2021-12-04 02:37] josepharhar commented on #12
I have opened PRs to migrate the rest of the chrome-only dialog tests to WPT:
- https://github.com/web-platform-tests/wpt/pull/31789
- https://github.com/web-platform-tests/wpt/pull/31864
- https://github.com/web-platform-tests/wpt/pull/31887
- https://github.com/web-platform-tests/wpt/pull/31889
- https://github.com/web-platform-tests/wpt/pull/31891

[2021-12-04 15:59] foolip commented on #38
@jensimmons that sounds like a good solution, I'll edit the spreadsheet Monday morning. I also agree that having positions earlier would be better, I'll request it on the email thread if nobody beats me to it.

[2021-12-05 08:20] foolip commented on #38
Alright, I've gone ahead and update the spreadsheet now, creating a new [Sub-proposal summary](https://docs.google.com/spreadsheets/d/1SQF81pf5hxFE9dMZcJGXE2RNmb7AjFHg6mnkf9KOEC0/edit#gid=4939874) sheet and updating the instructions.

Having tried to fill in some of it for Google, and repeating work, I think it will be easiest for folks to start from a copy of "Template" and then copy from that in

[2021-12-05 17:50] jgraham commented on #38
I don't think we can commit to the Tuesday timetable, since we need time to reconsider the proposals that have undergone recent updates.

[2021-12-06 08:24] foolip commented on #6
Based on https://wpt.fyi/results/css/css-align?run_id=5068826774339584&run_id=5670550115450880&run_id=5636164204625920 I suspect there are no tests for this, because there are no tests that fail everywhere.

[2021-12-06 09:09] foolip commented on #13
Tests for those encodings are here:
https://wpt.fyi/results/encoding/legacy-mb-japanese/iso-2022-jp
https://wpt.fyi/results/encoding/legacy-mb-schinese/gbk
https://wpt.fyi/results/encoding/legacy-mb-schinese/gb18030

[2021-12-06 11:27] foolip commented on #13
I found https://github.com/WebKit/WebKit/tree/main/LayoutTests/fast/css-generated-content but I can't find any tests in Gecko (or Chromium) beyond what's imported from WPT.

How comprehensive are the WebKit tests, and do they match the current spec?

[2021-12-06 11:53] foolip commented on #13
For Segment Break Transformation Rules, [the spec](https://drafts.csswg.org/css-text-3/#line-break-transform) has UA-defined behavior:

I only looked into this feature today so my misunderstanding is only surface deep, but doesn't this make most of the interesting cases UA-defined? A bunch of the tests were marked tentative in https://github.com/web-platform-tests/wpt/pull/26588 due to https://git

[2021-12-06 12:34] jfkthame commented on #13
Yeah, that's unfortunate.... there used to be quite a bit more in the spec, but then details were deferred to Text-4 following the discussion in https://github.com/w3c/csswg-drafts/issues/5086#issuecomment-709398160.

So I guess we'd need to push that spec work forward if any real progress is going to happen here.

(FWIW, I think Gecko implemented something close to what used to be in the Text-3 d

[2021-12-06 13:18] jensimmons commented on #38
In email @foolip wrote:

In many ways, the “buckets” (or themes) are for marketing purposes (later), and not for deciding-on-technology  purposes.

I don’t really see any point to expressing support for (or rejection of) an overall theme separate from the individual pieces. If, for example, an organization expressed support for the Form Controls theme to be included in Interop 2022, but then rejec

[2021-12-06 13:38] foolip commented on #13
I see. https://github.com/w3c/csswg-drafts/commit/b3bb0ed18b3168981c54c437bcfb5881ef49975b seems to be the commit that commented out the rules around this.

[2021-12-06 16:57] gsnedders commented on #29
I'm unsure any of these tests actually cover this, looking at where there are differences?

[2021-12-06 17:42] gsnedders commented on #27
This also appears in https://github.com/web-platform-tests/interop-2022/issues/11#issuecomment-976047408, albeit linking to further tests in https://wpt.fyi/results/dom/events/Event-dispatch-click.html?label=experimental&label=master&aligned (though again doesn't test propagation AFAICT).

[2021-12-06 17:50] gsnedders commented on #32
https://bugs.chromium.org/p/chromium/issues/detail?id=1012441 doesn't appear to be linked from any, just the more general https://bugs.chromium.org/p/chromium/issues/detail?id=1011718.

From the title/description, I presume the intent is to scope this down to `align-content` rather than the general case? i.e., from a test point of view we're really looking at https://wpt.fyi/results/css/css-flexbo

[2021-12-06 19:32] jgraham commented on #32
@dholbert can likely confirm whether that's the correct set of tests. Some of the Chromium issues have jsbin/etc. links that may or may not have been converted into wpt tests.

[2021-12-06 22:01] foolip commented on #27
I've added the `requires:tests` label but presume that added a test is fairly trivial, so that's not a blocker in my mind.

[2021-12-06 22:07] foolip commented on #28
Both spec and test are missing here, but are trivial since this is about the `onbeforeinput` event handler attribute only.

[2021-12-06 22:10] foolip commented on #28
Open spec PR in https://github.com/whatwg/html/pull/6743. If added to IDL, it would flow into WPT and end up in idlharness.js tests.

However, we couldn't really use HTML's idlharness.js test for Interop 2022, since they test all of HTML's IDL, and so far we've only tracked tests, not subtests. Adding a single test for the attribute is probably best.

[2021-12-06 22:19] foolip commented on #29
@jgraham you've mentioned `overflow:scroll` but linked bugs and issues are about `overscroll-behavior`. Is that a typo, or is `overflow:scroll` a part of this too?

Also, are there examples of site compat issues caused by this?

[2021-12-06 22:38] foolip commented on #33
I've asked @bfgeek who points out that https://bugs.chromium.org/p/chromium/issues/detail?id=1141209 is blocked on https://github.com/twbs/bootstrap/issues/35277 and changing the behavior without that fix is likely to break many sites.

I'm not sure if the situation is symmetrical, if all the same sites are now broken in Firefox?

[2021-12-06 22:41] josepharhar commented on #27
I'm happy to work on this in chromium in 2022.

So between `disabled-elements-01.html` and `Event-dispatch-click.html` we still are missing a case?

Could you elaborate the propagation case? I'd be happy to add test coverage

[2021-12-07 06:47] xiaochengh commented on #5
CSSOM API tests have been added.

Also https://github.com/w3c/csswg-drafts/issues/6323 has been resolved as rejected. So I think the test coverage is complete.

[2021-12-07 07:40] foolip commented on #30
In discussion with @bfgeek, the Chrome team can try to ship https://bugs.chromium.org/p/chromium/issues/detail?id=1082517 again, but if that breaks too much, can we revisit the spec'd behavior and try changing Gecko instead?

When testing https://bug1637511.bmoattachments.org/attachment.cgi?id=9148082 I see the same behavior in Chrome and Safari, and being able to scroll to the text does seem like

[2021-12-07 07:41] foolip commented on #29
The test for https://github.com/web-platform-tests/interop-2022/issues/30 does involve `overflow: scroll` so now I suspect there's just been a mixup of adjacent issues. @jgraham can you confirm?

[2021-12-07 07:58] foolip commented on #5
Thanks @xiaochengh! I think https://github.com/web-platform-tests/wpt/pull/31726 + https://github.com/web-platform-tests/wpt/pull/31823 are the PRs that added the tests, and that it's these two tests:

- [/css/css-cascade/idlharness.html](https://wpt.fyi/results/css/css-cascade/idlharness.html?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned)
- [/css/css-cascad

[2021-12-07 08:37] xiaochengh commented on #5
Exactly!

[2021-12-07 09:17] jgraham commented on #29
Yes, sorry this should have been `overscroll-behaviour`. I believe the bug and google doc linked are correct, and that browser match for `scroll-behaviour`, although I'm not certain about that. The Google doc has a big list of sites which are affected by the `overscroll-behaviour` difference. Some of the gecko bugs are developers running into this e.g. https://bugzilla.mozilla.org/show_bug.cgi?id=

[2021-12-07 09:18] jgraham commented on #29
@emilio might be able to confirm whether this issue is now correct :)

[2021-12-07 09:30] foolip commented on #26
It looks like there was no Chromium issue for this, so I've filed https://bugs.chromium.org/p/chromium/issues/detail?id=1277431.

@jgraham the test also covers other things, would it be OK to create a new test for just this?

[2021-12-07 09:42] jgraham commented on #26
Yeah, we can create a new test, although I really think we should find a way to make the metrics generation work with subtests.

[2021-12-07 10:25] annevk commented on #11
Sam makes a pretty compelling case to exclude `week` and `month` controls. I also couldn't find anything in the CSS survey that specifically relates to those.

[2021-12-07 10:28] foolip opened #39 "Agenda for Dec 9 meeting"
The agenda is short this week, but not necessarily fast to get through:

Go through [Interop 2022 positions](https://docs.google.com/spreadsheets/d/1SQF81pf5hxFE9dMZcJGXE2RNmb7AjFHg6mnkf9KOEC0/edit?usp=sharing) and determine which proposals have consensus for inclusion in the Interop 2022 metric, and which we will jointly work on but aren't included in the metric.

I suggest defining consensus as

[2021-12-07 10:28] #36 closed

[2021-12-07 11:03] foolip commented on #26
It would be straightforward enough to support labeling subtests (like for bug links) but I think there will be very few cases like this. Metric computation is already rather involved, so simplicity is nice to have where it can be had. We'll see when we go write the new code that uses labels instead of the test lists.

[2021-12-07 11:07] foolip commented on #18
@annevk is https://bugs.chromium.org/p/chromium/issues/detail?id=694157 the right Chromium bug for this? I see Transitional_Processing vs. Nontransitional_Processing but maybe there was a rename at some point?

[2021-12-07 11:13] foolip commented on #18
Yep, it was renamed in https://github.com/whatwg/url/pull/404.

[2021-12-07 13:48] emilio commented on #29
Yeah, this should probably just be about `overscroll-behavior`. Unfortunately are no WPT tests for this it seems, because we don't quite have the facility to test overscroll in WPT I think, and propagated styles are not exposed programmatically.

[2021-12-07 16:15] jensimmons commented on #32
It looks like blink and webkit have the same behavior.

How much impact is this having on web developers and users? Does this create real bugs on sites?

Is this a high enough priority to be included in Interop 2022?

[2021-12-07 16:23] jensimmons commented on #33
WebKit behaves as Chromium does. Could ya'll file a WebKit ticket as well?

Do we have a sense as to how much this is impacting everyday websites?

[2021-12-07 16:29] jensimmons commented on #30
@jgraham We'd appreciate it if when you find such bugs, you check against all the engines, not just Chromium, and file bugs at [bugs.webkit.org](http://bugs.webkit.org) as well.

WebKit matches Chromium's behavior here. It does seem like investigation is needed to see if this can be changed.

[2021-12-07 16:32] jensimmons commented on #30
Testing in Safari, it looks like WebKit matches the spec.

Safari produces scrollbars for both blocks:
![image](https://user-images.githubusercontent.com/108474/145068401-7003ed49-a113-4b85-a5ef-a8e39a0cc819.png)

[2021-12-07 16:34] jensimmons commented on #29
@smfr believes this is probably be very risky to change.

[2021-12-07 16:34] jensimmons commented on #29
@jgraham Could you rewrite the title & description of this item, so we can all make sure we are talking about the same thing?

[2021-12-07 16:37] smfr commented on #29
Oh, if this is about `overscroll-behaviour` then I have no concerns.

[2021-12-07 18:50] dholbert commented on #32
FWIW, the lack-of-interop did indeed create a real bug on a site, reported in https://github.com/webcompat/web-bugs/issues/8616

Not sure if there have been others; that's the only associated report that I could find at the moment.

[2021-12-07 22:28] gsnedders commented on #30
I see Safari and Firefox matching?

[2021-12-07 23:45] dholbert commented on #33
Sure, I'll file a WebKit ticket in a bit.

We've gotten many (on the order of ~tens, I think) of webcompat.com bug reports that boil down to websites depending on this bug.

I coincidentally just triaged a bug that turned out to be this:
https://bugzilla.mozilla.org/show_bug.cgi?id=1742272

[2021-12-08 00:17] dholbert commented on #33
WebKit bug report: https://bugs.webkit.org/show_bug.cgi?id=233956

[2021-12-08 00:48] dholbert commented on #33
I think that Bootstrap issue would be more-likely to get traction if some non-mozilla folks would be willing to chime in over there.  So far, the response that we've gotten there seems to have been hesitance to switch away from a hack that they've been using for ages which they perceive as working.  I suspect it'd be useful for them to know that other browsers would like to fix this bug, and that

[2021-12-08 10:00] jgraham commented on #29
Done. Aplogies for the muddle on this one.

[2021-12-08 10:11] jgraham commented on #32
With all these webcompat issues, there's always an option to update the spec to match the behaviour that content depends on, and update the previously conforming implementations to the new spec. Whilst that's pretty much always a sign of earlier process failure, it's better in the long term than having unaddressed compat issues.

Obviously I hope that's an exceptional case, but it is an option tha

[2021-12-08 11:56] jgraham commented on #27
https://bugzilla.mozilla.org/show_bug.cgi?id=1653882#c14 is relevant to this issue.

[2021-12-08 17:10] foolip commented on #19
The CSS WG has just resolved to publish a FPWD for Contain 3: https://github.com/w3c/csswg-drafts/issues/6426#issuecomment-988998375

[2021-12-08 20:03] andruud commented on #19
Note: We recently WPT-ified and upstreamed our tests for container queries + inline-size containment:

/css/css-contain/container-queries/*
/css/css-contain/contain-inline-size-*

[2021-12-09 01:32] karlcow commented on #33
Yet another case!
https://github.com/webcompat/web-bugs/issues/95687

not note that adding `width: fit-content` in the right context fixes the issue.
So at least we could emit site interventions for these sites.

[2021-12-09 17:31] weinig commented on #20
PRs up for a number of these:

- `color-mix()` - https://github.com/web-platform-tests/wpt/pull/31902
- `color-contrast()` - https://github.com/web-platform-tests/wpt/pull/31903

Also a few CSS Color 4 ones:
- `relative colors` - https://github.com/web-platform-tests/wpt/pull/31904
- reference tests for new colors - https://github.com/web-platform-tests/wpt/pull/31901
- parsing and serialization f

[2021-12-10 12:52] SebastianZ commented on #11
Regarding events on disabled form controls:
https://bugzilla.mozilla.org/show_bug.cgi?id=1220048

Sebastian

[2021-12-10 13:23] #7 closed

[2021-12-10 14:06] foolip commented on #39
Here's a summarized outcome of the meeting, based on the [sub-proposal summary sheet](https://docs.google.com/spreadsheets/d/1SQF81pf5hxFE9dMZcJGXE2RNmb7AjFHg6mnkf9KOEC0/edit#gid=4939874).

These are the proposals that are tentatively **included**:
- https://github.com/web-platform-tests/interop-2022/issues/1
- https://github.com/web-platform-tests/interop-2022/issues/2
- https://github.com/web-pl

[2021-12-10 14:08] foolip commented on #39
I'm going to close the issues for proposals that we've excluded, and comment on each of the proposals in the "require some further action/decision" list.

[2021-12-10 14:10] foolip commented on #6
Based on the Dec 9 meeting, with outcomes summarized in https://github.com/web-platform-tests/interop-2022/issues/39#issuecomment-991001758, we won't include Box Alignment on Block Boxes in Interop 2022.

I note that there does seem to be interest in implementing this, however, and hopefully tests will be added as part of that.

[2021-12-10 14:10] #6 closed

[2021-12-10 14:12] foolip commented on #16
Based on the Dec 9 meeting, with outcomes summarized in https://github.com/web-platform-tests/interop-2022/issues/39#issuecomment-991001758, we won't include `-webkit-line-clamp` in Interop 2022.

[2021-12-10 14:13] foolip commented on #17
Based on the Dec 9 meeting, with outcomes summarized in https://github.com/web-platform-tests/interop-2022/issues/39#issuecomment-991001758, we won't include this proposal in Interop 2022.

However, I'm leaving it open since we still need to have a discussion about whether we want to collaborate in some way to address the most important sources of site compat issues for Gecko in editing.

[2021-12-10 14:18] foolip commented on #38
Closing this since the spreadsheet has been filled out and used in https://github.com/web-platform-tests/interop-2022/issues/39.

@jensimmons indeed expressing support for the buckets independent of their contents wasn't very meaningful, and we didn't really use that sheet. We can skip that next time.

[2021-12-10 14:18] #38 closed

[2021-12-10 14:20] #31 closed

[2021-12-10 14:38] foolip commented on #16
In case we want to revisit this next year, does anyone see a need for spec change in order to ship the unprefixed `line-clamp`? If no implementer thinks it's worth the investment near term to implement the "dropping content" bits, could those be bumped to another level in the spec?

Or, more simply: what is a credible path to getting both `-webkit-line-clamp` and `line-clamp` working the same way

[2021-12-10 15:41] foolip commented on #4
The new viewport units were accepted as part of Interop 2022 in https://github.com/web-platform-tests/interop-2022/issues/39. We'll now need the simple automated tests for those units. @jensimmons @gsnedders is this something that Apple could work on?

There was also support for the cross-browser investigation into other Viewport Measurements. @jensimmons given https://github.com/web-platform-test

[2021-12-10 15:44] foolip commented on #15
Per https://github.com/web-platform-tests/interop-2022/issues/39#issuecomment-991001758 we won't include this in Interop 2022, but before closing it we should figure out if there's something here we want to work jointly on in 2022.

@gsnedders can you elaborate on "WPT coverage does not seem representative of site compatibility bugs"? What kinds of site compat issues you tend to see with Pointer E

[2021-12-10 15:47] foolip commented on #17
@annevk @jgraham do you have thoughts on what we could do jointly to improve things in this area? https://bugzilla.mozilla.org/show_bug.cgi?id=1341152 was linked and there are lots of bugs, but do you know if bugs are concentrated around specific issues? Is there a subset of `contenteditable` or `execCommand()` where some spec+test work could do a lot of good?

(There are [lots of differences](htt

[2021-12-10 15:49] foolip commented on #19
Per https://github.com/web-platform-tests/interop-2022/issues/39#issuecomment-991001758 we're not going to include Container Queries in Interop 2022, but there's still an open question about the `contain` property, which is Containment Level 1+2. @annevk @jgraham will you comment on this issue with your findings, or how would you like to handle this?

[2021-12-10 15:53] foolip commented on #37
Per https://github.com/web-platform-tests/interop-2022/issues/39#issuecomment-991001758 we're not including this in Interop 2022, due to the lack or spec and tests.

However, convergence on this is a good idea. The group needs to decide if we're going to track that work as part of Interop 2022 or not. Regardless, next steps seem to be responding to https://github.com/w3c/uievents/issues/135#issuec

[2021-12-10 15:54] foolip commented on #22
@annevk yes, I think we would need basic tests for AVIF in `<img>` which don't involve `ImageDecoder`, and if `ImageDecoder` won't ship before AVIF in all browsers then we shouldn't have any tests that depend on `ImageDecoder`.

[2021-12-10 15:58] foolip commented on #22
This proposal wasn't fully resolved in yesterday's meeting, see https://github.com/web-platform-tests/interop-2022/issues/39#issuecomment-991001758.

There may be an intersection in what Google and Mozilla would like to support in 2022. However, that doesn't guarantee inclusion given Microsoft's comments about hardware support. We need to revisit this in the next meeting.

@scottlow @dlibby- can y

[2021-12-10 16:02] annevk commented on #19
A question that came up when discussing this is whether it's just the `contain` property or also other things specified in CSS Containment 1/2? With that answered we can probably give a more detailed answer next week.

[2021-12-10 17:13] foolip commented on #9
@jgraham would you be able to compile a single list of tests that should be included here? I can then label those in wpt-metadata.

[2021-12-10 18:48] jensimmons commented on #4
I volunteer at Apple's rep for a cross-browser investigation into the overall state of viewport measurements, as [described above](https://github.com/web-platform-tests/interop-2022/issues/4#issuecomment-984104431). I can help organize/facilitate/chair is that's desired.

[2021-12-10 18:53] jensimmons commented on #4
I think there's an open question whether we want to:

1. only include automated tests for the new viewport units (short, long and dynamic / width, height, min, max, block, inline — eg: svh, lvh, dvh; also dvb, dvi, etc.)
or
2. also include automated tests for window.InnerHeight, height: 100%, the original viewport units, etc.

I've recently heard some people articulate an expectation that we are d

[2021-12-11 10:42] foolip commented on #1
I have labeled the tests with the `interop-2022-rfc` label here:
https://wpt.fyi/results/css/css-grid/subgrid?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-rfc

I excluded two crashtests in the directory, but labeled everything else. If anyone thinks we should include crashtests, please comment.

Is anyone aware of additional test cove

[2021-12-13 08:15] foolip commented on #1
I think we should treat it as a separate feature, WDYT?

[2021-12-13 08:19] foolip commented on #20
Can someone look over https://github.com/w3c/csswg-drafts/issues/6824 and see how that impacts Interop 2022? @weinig has been upstreaming tests to WPT (https://github.com/web-platform-tests/wpt/pull/31901 + https://github.com/web-platform-tests/wpt/pull/31902 + https://github.com/web-platform-tests/wpt/pull/31903 + https://github.com/web-platform-tests/wpt/pull/31904) but are there more tests that

[2021-12-13 11:36] karlcow commented on #1
What would be the pros and cons on both side of the argument?

If as a separate feature it increases the likelihood of being implemented (because not drowned in grid papercuts), probably separate would be better indeed.

* https://bugs.webkit.org/show_bug.cgi?id=202115
* https://bugs.chromium.org/p/chromium/issues/detail?id=618969
* https://bugzilla.mozilla.org/show_bug.cgi?id=1240834

Everyone is

[2021-12-13 13:06] foolip commented on #1
IMHO, main advantage of separating them is that it's easier to understand and communicate. Subgrid is distinct enough to warrant its own entries on [caniuse.com](https://caniuse.com/css-subgrid) and [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Subgrid#browser_compatibility) so we'd be in good company.

The main advantage to merging that I can see is that it sets a precede

[2021-12-13 22:50] josepharhar commented on #12
All of the dialog tests from my last comment have been merged!
If there any issues with any of them I'm happy to address them, but we can at least collect the test names now.
@foolip

[2021-12-14 14:48] gsnedders commented on #2
We should probably at least triage https://wpt.fyi/results/?label=master&label=stable&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2021%20count%3A3%28status%3A%21pass%26status%3A%21ok%29 (i.e., tests that fail in stable releases of all three major engines).

[2021-12-14 16:28] svgeesus commented on #20
There are several. Some are `-predefined-` because P3 is one of the predefined colorspaces.
Also some of the tests are testing P3 to Lab, P3 to OKLab, OKLab to P3, or Lab to P3 conversions.

[2021-12-14 17:36] svgeesus commented on #20
**Yes**. Modern displays on laptops, cellphones are all wide gamut and are converging on the Display-P3 colorspace (originally from Apple, a derivative of DCI P3 colorspace used in digital cinema projection). Modern TVs are also wide gamut, again using the P3 colorspace, as required by the Ultra HD Alliance and VESA DisplayHDR specifications. Modern gaming consoles are also wide gamut.

So, consum

[2021-12-14 18:31] jensimmons commented on #20
Wide gamut color, including Display-P3, for Canvas shipped yesterday in Safari 15.2.

[2021-12-14 22:55] foolip commented on #4
For my own part, I would strongly support including automated tests for all aspects of viewport measurement that we can find, so option 2. It's a fair amount of work to identify those tests, but this one at least has some failures:
https://wpt.fyi/results/css/css-values/viewport-units-css2-001.html?label=experimental&label=master&aligned

[2021-12-14 23:07] foolip opened #40 "Agenda for Dec 16 meeting"
Here's the agenda for our last meeting of the year:
- Finishing the [RFC](https://github.com/web-platform-tests/rfcs/pull/99). Two options:
  - Do RFC to confirm focus areas with some incomplete test lists and new RFC to update them early 2022.
  - Wait for test lists to be more complete. (Later updates still OK given agreement.)
- Date for a public announcement. Agreement for none of us to talk a

[2021-12-14 23:16] foolip commented on #40
Here's my proposal for finalizing test lists.

By Dec 31st, tests are labeled with the [`interop-2022-rfc`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-rfc) label on wpt.fyi. There's a UI for doing this (only on staging.wpt.fyi so far) that I will demo in the meeting.

Tests for Subgrid, Cascade Layers and `<

[2021-12-14 23:18] #39 closed

[2021-12-15 08:18] annevk commented on #40
Note that for contain I'm still waiting for an answer to https://github.com/web-platform-tests/interop-2022/issues/19#issuecomment-991093066.

[2021-12-15 14:53] foolip commented on #19
@annevk sorry I didn't see the notification for this. It's just the `contain` property, not `content-visibility`. In terms of tests, roughly https://wpt.fyi/results/css/css-contain excluding https://wpt.fyi/results/css/css-contain/container-queries and https://wpt.fyi/results/css/css-contain/content-visibility.

If there are [types of containment](https://drafts.csswg.org/css-contain-2/#containmen

[2021-12-15 15:49] annevk commented on #19
Thanks that helps! We'd be Neutral if `contain:style` is also excluded, and Oppose otherwise.

[2021-12-15 17:55] jensimmons commented on #40
I'd like to add an item to the agenda — to discuss possible timing for a public announcement, and agreement for none of us to talk about Interop 2022 until the date we've chosen to announce.

[2021-12-15 19:34] foolip commented on #12
Thanks @josepharhar! I've labeled all the tests (I think!) and you can see them here:
https://wpt.fyi/results/html/semantics/interactive-elements/the-dialog-element?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-rfc

[2021-12-15 20:14] nt1m commented on #12
dialog-focusing-steps-inert.html and dialog-inert.tentative.html should be unlabeled, they test the `inert` attribute which isn't in the HTML spec yet.

[2021-12-15 22:43] foolip commented on #40
@jensimmons absolutely, I'll edit the agenda to add that.

[2021-12-16 05:52] scottlow commented on #22
@foolip, I chatted with our media team this afternoon. Their preference is for this to be excluded while we all continue to investigate.

[2021-12-16 09:07] foolip commented on #12
@nt1m done in https://github.com/web-platform-tests/wpt-metadata/pull/2303

[2021-12-16 09:49] foolip commented on #11
I have now labeled (almost) all tests listed in https://github.com/web-platform-tests/interop-2022/issues/11#issuecomment-976047408 with the `interop-2022-forms` label:
https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-forms

@josepharhar can you go through that and see if I seem to have missed anything? I excluded

[2021-12-16 14:03] foolip commented on #19
Thanks @annevk. In chat we also realized that `contain:strict` should be excluded, leaving is with layout, size, and paint containment.

@andruud helped me identify the set of tests for that, which I've [labeled](https://github.com/web-platform-tests/wpt-metadata/pull/2310) as `interop-2022-contain`. It should show up soon as little label icons next to the test names here:
https://wpt.fyi/results/

[2021-12-16 14:20] foolip commented on #40
I did have a web.dev post called "Interop 2022 Preview" about just the CSS features planned for Dec 17, but have pulled the brakes on that, coordinating a public announcement is much better. Instead, I'll do a post about State of CSS 2021, which doesn't mention Interop 2022, but does gesture at it:

If that wording and link to https://github.com/web-platform-tests/interop-2022/issues/1 is too much

[2021-12-16 15:28] foolip commented on #19
<details>
<summary>@andruud kindly took another pass over those.</summary>

[code]
</summary>

I'll label those additional tests too.

[2021-12-16 15:35] foolip commented on #22
Thanks @scottlow, that makes the discussion in today's meeting a lot simpler!

[2021-12-16 16:02] annevk commented on #19
Thanks @foolip and thanks @andruud for spotting that!

[2021-12-16 16:45] jgraham commented on #9
# Current status of tests:

## IDNA
https://wpt.fyi/results/url/toascii.window.html

## Text-Decoration
https://wpt.fyi/results/css/css-text-decor/text-decoration-subelements-001.html
https://wpt.fyi/results/css/css-text-decor/text-decoration-subelements-002.html
https://wpt.fyi/results/css/css-text-decor/text-decoration-subelements-003.html
https://wpt.fyi/results/css/css-text-decor/text-underlin

[2021-12-16 17:24] gsnedders commented on #4
https://gist.github.com/07ca400d2e4dd01caa4a8f0c984be068 is all the existing list of files using viewport units in WPT; note there's no tests using the new viewport units. Most of the usage outside of css/css-values is rather incidental, so even if we do include the original viewport units we should probably exclude what's outside of that.

[This](https://wpt.fyi/results/?label=master&label=experi

[2021-12-16 17:33] gsnedders commented on #19
@annevk said '(strict tests where the style aspect doesn't matter are still fair game.)' on Matrix

[2021-12-16 17:42] foolip commented on #19
We'll include the size, layout and paint containment subset of this proposal.

[2021-12-16 17:43] gsnedders commented on #19
i.e., `none | content | [ size || layout || paint ]` is the subset of the values for `contain` being accepted

[2021-12-16 18:02] #22 closed

[2021-12-16 18:08] gsnedders commented on #15
Looking at [bugs.webkit.org](https://bugs.webkit.org/buglist.cgi?bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bug_status=RESOLVED&bug_status=VERIFIED&bug_status=CLOSED&f0=OP&f1=OP&f10=short_desc&f5=short_desc&f7=content&f8=CP&f9=CP&list_id=7753483&o10=nowordssubstr&o5=substring&o7=matches&query_format=advanced&v10=GTK%20WPE&v5=pointer%20event&v7=%22pointer%20event%

[2021-12-16 18:10] jensimmons opened #41 "Viewport Investigation project"
As part of #4, we agreed to do a small cross-browser research project into the current state of viewports on mobile devices.

Who would like to be part of this effort?

[2021-12-16 22:42] foolip opened #42 "Focus area labels"
For the purposes of tracking tests for each [accepted proposal](https://github.com/web-platform-tests/interop-2022/labels/accepted) in Interop 2022, we will use the labeling system provided on wpt.fyi.

Here are the 10 areas/labels, linked only where labeling is done:

- [`interop-2022-cascade`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&

[2021-12-16 23:15] foolip commented on #13
@gsnedders said on the Matrix channel:

I agree. Does anyone have suggestions for another name for this bucket? Or could it make sense to slot encodings under the webcompat bucket, if it has caused any broken sites? @achristensen07 WDYT?

[2021-12-17 00:59] dholbert commented on #33
When starting to write a WPT test with some expectations for this issue, I realized it's more subtle and less-well-defined than I thought, and I found a possible rationalization for the Chromium/WebKit behavior (which had initially struck me as bizarre).

So: it may be worth standardizing on & matching their behavior after all, in which case it wouldn't make sense to include this in the #9 bucket

[2021-12-17 01:31] karlcow commented on #13
What about "Font Parametrization bucket"?

[2021-12-17 01:34] karlcow commented on #41
I would love! Mozilla had to do a lot of reverse engineering to understand what was happening on Chrome and Safari. And there is still a lot of bugs which need to be addressed.

[2021-12-17 02:30] nt1m commented on #12
Can these 2 tests be labeled? https://github.com/web-platform-tests/wpt/commit/b3958a2b77988a3e4c6948dfce1b62f7b0ab04cf

They test `::backdrop` + animation

[2021-12-17 02:52] karlcow commented on #15
so checking webcompat issues related to pointer events.
https://bugzilla.mozilla.org/buglist.cgi?classification=Client%20Software&classification=Developer%20Infrastructure&classification=Components&classification=Server%20Software&classification=Other&v1=webcompat&f1=see_also&short_desc=pointer&short_desc_type=allwordssubstr&query_format=advanced&resolution=---&o1=substring&list_id=15938104

* [Fi

[2021-12-17 08:47] jgraham commented on #33
I think it would be an equally successful outcome if we decide that the WebKit/Blink behaviour is the correct one, tighten up the spec if necessary, and change gecko to match. That's still improving interop/compat for users and it seems totally reasonable to measure that progress, even if it's not the implementation change we originally expected.

[2021-12-17 08:55] karlcow commented on #33
Agreed with @jgraham
Yes and given how popular is the Bootstrap library, the chances that we get fixed both the initial library and the websites are low. So we would need to rely on site interventions.

[2021-12-17 09:12] jgraham commented on #15
Is this something where a different WebKit port might enable the feature on desktop, and provide a useful proxy for iOS Safari? Or is there a lot of port-specific code?

[2021-12-17 19:19] bfgeek commented on #33
@dholbert - I left a reply at https://bugzilla.mozilla.org/show_bug.cgi?id=1745310#c11 but yeah we were writing our LayoutNG implementation for this we basically found that everything was unspecified. We actually ended up following FF in a lot of subtle ways here (see differences between Blink and WebKit now).

[2021-12-20 16:24] gsnedders commented on #33
Yes; as I think got mentioned in some meeting, the general consensus is that the important thing (especially for the web compat issues) is to gain interop, not _what_ the interop behaviour is. There's clearly a lack of interop here, regardless of what direction we move in.

Filing bugs on the relevant specs, adding tests where there's spec clarity and/or some tentative buy-in to interop behaviour,

[2021-12-20 17:04] foolip commented on #13
@karlcow https://encoding.spec.whatwg.org/ doesn't really fit well under that banner either. But @annevk suggested just "text" which I think would work.

[2021-12-20 18:58] gsnedders commented on #13
I've labelled them as `interop-2022-text` based on @annevk's suggestion, but I'm by no means wedded to that name.

[2021-12-20 22:56] foolip commented on #9
@jgraham I've labeled the listed tests except https://wpt.fyi/results/dom/historical.html and https://wpt.fyi/results/html/dom/idlharness.https.html which require counting only some subtests.

[2021-12-22 09:54] foolip commented on #12
@nt1m I've labeled those in https://github.com/web-platform-tests/wpt-metadata/pull/2327

[2022-01-05 18:02] jensimmons commented on #41
Excellent, @karlcow.

Is anyone from Microsoft interested? I would love for us to have someone involved to cover the Surface Duo. @aarongustafson @atanassov

How about anyone from Chrome? @una @argyleink @stubbornella

Samsung Internet? @adarosecannon

Our goal:
To sort out any confusion about what “viewport” means, and what browsers (especially on mobile devices) should be doing with various view

[2022-01-05 23:12] aarongustafson commented on #41
Adding @ststimac to cover Duo.

[2022-01-06 00:41] jensimmons commented on #20
Could someone pull in the PRs & label these tests?

[2022-01-06 07:17] nt1m commented on #20
@jensimmons I just labeled the ones I thought that were relevant in the css/css-color directory: https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-color

(Note that you can label yourself on wpt.fyi using "Triage Mode" with an user-friendly UI).

Here are the PRs that need reviewing: https://github.com/web-platform

[2022-01-06 10:20] rachelandrew commented on #41
I'd be happy to be involved in this on the Chrome side.

[2022-01-06 16:54] argyleink commented on #41
I can't commit to helping, but I can share some handy links!
- @bokand has extensive research from ~2018, [sharing lots of results, ideas and considerations](https://github.com/bokand/bokand.github.io/blob/master/web_viewports_explainer.md)
- [demo by David](https://bokand.github.io/demo/urlbarsize.html) helps show an overview of the problem space

[2022-01-07 12:15] SebastianZ commented on #7
`-webkit-line-clamp` and [`line-clamp`](https://drafts.csswg.org/css-overflow-3/#line-clamp) differ quite a lot. `-webkit-line-clamp` only defines the number of lines similar to [`max-lines`](https://drafts.csswg.org/css-overflow-3/#propdef-max-lines) and besides that requires `display: -webkit-box;` and `-webkit-box-orient: vertical`. `line-clamp` is defined as a shorthand for `max-lines`, [`bloc

[2022-01-07 15:01] foolip commented on #7
Thanks for clarifying, @SebastianZ! I also learned while discussing this proposal with colleagues that even though the `-webkit-line-clamp` is specified as an alias of `line-clamp`, it's not just a simple matter of shipping that, since `line-clamp` has additional requirements which aren't implemented for the prefixed variant yet.

This proposal ended up not included in Interop 2022, but I'd like t

[2022-01-07 23:33] nt1m commented on #42
@foolip I tagged the interop-2022-color ones, see https://github.com/web-platform-tests/interop-2022/issues/20#issuecomment-1006337706

[2022-01-07 23:39] jensimmons commented on #42
Are the tests from Compat 2021 labeled in the same way? Where can I find those labels/links to searches?

[2022-01-08 00:52] nt1m commented on #42
@jensimmons The test lists are stored in text files: https://github.com/Ecosystem-Infra/wpt-results-analysis/tree/main/compat-2021

[2022-01-09 20:34] svgeesus commented on #20
Interpolation is [well defined](https://drafts.csswg.org/css-color-4/#interpolation) but Transitions and Animations have not yet been updated to use this. So interpolation is in gamma-encoded `sRGB`, and handling of non-legacy colors is currently undefined. This needs spec work to define a syntax, before tests can be written.

(Whether two color spaces have different gamuts does not matter, btw)

[2022-01-10 00:51] nt1m commented on #20
I guess the question for that specific item was more: Is this part of the interop 2022 effort? and should any potential tests be tagged? The issue specifically mentions the "CSS color 5" spec, while the gradient interpolation stuff is part of "CSS images 4". Maybe @una, @jensimmons or @foolip can answer this.

I was also thinking edge cases like using variables within color functions like color-mi

[2022-01-10 14:48] foolip commented on #42
@jensimmons @nt1m I had labeled Compat 2021 tests as just `interop-2021`, but I've now [split them](https://github.com/web-platform-tests/wpt-metadata/pull/2351):

- [`interop-2021-aspect-ratio`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2021-aspect-ratio)
- [`interop-2021-flexbox`](https://wpt.fyi/results/?labe

[2022-01-10 14:49] foolip commented on #2
These are all labeled now:

- [`interop-2021-aspect-ratio`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2021-aspect-ratio)
- [`interop-2021-flexbox`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2021-flexbox)
- [`interop-2021-grid`

[2022-01-10 14:54] foolip commented on #20
@nt1m is the fuzzy reftest feature enough to deal with the differences in gradient interpolation?

Also, the PRs linked in https://github.com/web-platform-tests/interop-2022/issues/20#issuecomment-1006337706 are all merged now, are all of those tests already labeled?

[2022-01-10 14:55] foolip commented on #19
A proposed list of tests has been labeled with [`interop-2022-contain`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-contain). It would be great if someone from each browser engine team can look over this list and comment if there are any issues.

[2022-01-10 14:56] foolip commented on #12
A proposed list of tests has been labeled with [`interop-2022-dialog`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-dialog). It would be great if someone from each browser engine team can look over this list and comment if there are any issues.

[2022-01-10 14:57] foolip commented on #14
A proposed list of tests has been labeled with [`interop-2022-scrolling`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-scrolling). It would be great if someone from each browser engine team can look over this list and comment if there are any issues.

[2022-01-10 14:58] foolip commented on #1
A proposed list of tests has been labeled with [`interop-2022-subgrid`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-subgrid). It would be great if someone from each browser engine team can look over this list and comment if there are any issues.

[2022-01-10 14:59] foolip commented on #13
Thanks @gsnedders! It would be great if someone from each browser engine team can look over [`interop-2022-text`](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-text) and comment if there are any issues.

[2022-01-10 15:00] foolip commented on #9
@jgraham are there additional tests that need to be labeled (or written) here?

[2022-01-10 15:04] josepharhar commented on #12
I just looked through the tests, and it seems that `modal-dialog-scroll-height.html` fails in all browsers even though it passes locally for me with `content_shell` and `chrome`... maybe there is something different about the machines that wpt.fyi runs on?
`inert-label-focus.html` also has a weird error, it says `MISSING` in chrome and firefox.
I added both of these tests when I upstreamed the chr

[2022-01-10 15:31] jfkthame commented on #13
The `font-variant` descriptor (as distinct from the `font-variant` property) was dropped from CSS Fonts (as noted at https://drafts.csswg.org/css-fonts-4/#changes-2018-09-20), which means a few of the tests currently listed are not valid. At first glance, this affects font-variant-05.xht, font-variant-06.xht, and font-variant-descriptor-01.html.

[2022-01-10 16:34] foolip opened #43 "Metric computation"
This is a proposal for how the per-test, per-area and total Interop 2022 metric will work. Compat 2021 scoring worked like this:
- Every test is scored between 0 and 1. This avoids tests with many subtests being given much larger weight than for example reftests.
- Every area is scored between 0 and 1, adding up the scores and dividing by the number of tests.
- The overall score is the sum of area

[2022-01-10 16:38] foolip commented on #43
One minor tweak I'd like to experiment with is using only integer math, and scoring everything between 0 and 1000. This will make the order of summation irrelevant, and will reduce decimal noise in some diffs, which I've found to be a bit of a nuisance for understanding Compat 2021 score changes. I'd suggest 1000 instead of 100 so that we have the option of showing a decimal point.

[2022-01-10 17:01] nt1m commented on #20
I guess so.

@weinig or @svgeesus would be a better person to look/label the relevant tests.

[2022-01-10 17:16] emilio commented on #12
(Same about `modal-dialog-in-table-column.html`... seems dubious at least that should work. For context they come from https://bugs.webkit.org/show_bug.cgi?id=103477)

[2022-01-10 17:24] nt1m commented on #12
I fixed inert-label-focus.html in https://github.com/web-platform-tests/wpt/pull/32308.

- `focus-after-close.html` WebKit failure: not directly due to the dialog implementation, but rather because of [intentional WebKit special scrolling behavior](https://bugs.webkit.org/show_bug.cgi?id=181575). It could be rewritten to make waiting for scrolling asynchronously, but not sure how to do that right

[2022-01-10 21:13] karlcow commented on #9
@foolip that sounds reasonable. Is there any plans to count the remaining `interop-2021-flexbox` on this round too?

[2022-01-10 21:50] emilio commented on #12
Well given this is `<dialog>` and `::backdrop` these are legit I suppose :-)

[2022-01-10 23:10] josepharhar commented on #12
I'll contact the author of `modal-dialog-scroll-height.html` and see if we can test the same behavior without the exact height expectation thats causing the failure

[2022-01-11 10:56] foolip commented on #12
I've sent https://github.com/web-platform-tests/wpt-metadata/pull/2352 to drop modal-dialog-scroll-height.html from Interop 2022. If another test can be added to test the same thing in a better way soon, maybe we can include that.

[2022-01-11 11:23] foolip opened #44 "Agenda for Jan 13 meeting"
Here's the agenda for our meeting on Thursday:

- https://github.com/web-platform-tests/interop-2022/issues/42: Go through our 10 focus areas and check in on test lists. Call for review where done, discuss issues raised, and assign action items where needed to finish the test lists.
- https://github.com/web-platform-tests/interop-2022/issues/43: Call for consensus on metric approach. (@foolip will

[2022-01-11 11:28] #40 closed

[2022-01-12 17:43] josepharhar commented on #12
I believe I found a way to fix modal-dialog-scroll-height.html by replacing the hard coded height with window.innerHeight:
https://chromium-review.googlesource.com/c/chromium/src/+/3379191
https://github.com/web-platform-tests/wpt/pull/32319

[2022-01-12 19:39] svgeesus commented on #20
I have enabled the inlined WPT feature on [CSS Color 4](https://drafts.csswg.org/css-color-4/) and [CSS Color 5](https://drafts.csswg.org/css-color-5/) so now each tested section makes clear what tests exist, the pass status, and allows the tests to be run.

In addition, if a new test is added tagged to Color 4 or Color 5, then I get a Bikeshed build failure to alert me to add it to the spec.

[2022-01-12 21:14] jgraham commented on #9
I created https://github.com/web-platform-tests/wpt/pull/32351 for `event.path` being its own test. Still some more additions/refactorings needed to get full coverage of all the different parts of this.

[2022-01-13 10:08] jgraham commented on #9
For the negative margin testing, @dholbert is planning to land the tests from https://bugzilla.mozilla.org/show_bug.cgi?id=1745310

[2022-01-13 13:03] foolip commented on #43
I have prototyped this in https://github.com/Ecosystem-Infra/wpt-results-analysis/pull/73 with a preview in https://gist.github.com/foolip/25c9ed482a0dd802f9bf2eea4544ccac.

There may be bugs and the code needs to be moved to another repo entirely and cleanup up, but it gives some idea of what the starting point for Interop 2022 will be.

[2022-01-13 14:46] jgraham commented on #9
I created https://github.com/web-platform-tests/wpt/pull/32367 for `onbeforeinput`.

[2022-01-13 17:39] gsnedders commented on #43
Is there any reason to do this versus using something like fraction.js?

[2022-01-13 18:09] jensimmons opened #45 "Improve the Interop Dashboard"
The Compat 2021 dashboard:
https://wpt.fyi/compat2021?feature=summary

Let's have a discussion about how we could redesign this page to better explain the project to folks who are interested.

[2022-01-13 18:11] jensimmons commented on #45
I'd like to see an improved dashboard that:

1. More clearly explains that this is a project testing specific areas of concern to web developers, and not testing the overall quality of browser engines.
2. Helps people see more quickly & obviously which technologies are making up the score, and how each is doing in each browser. Both the over 15 technologies, and the specific technologies web devel

[2022-01-13 21:42] jensimmons commented on #41
So we have:
- myself, from Apple (US east coast)
- @rachelandrew, from Google (UK)
- @ststimac, from Microsoft (US west coast)
- @karlcow, from Mozilla (Japan)

Great. And ah ouch.... the timezones.

Does a 9am PT / 12noon ET / 5pm UK / 2am JP time work? Karl, I'm not sure what work hours you are used to doing.

Or [this time zone calculator](https://www.timeanddate.com/worldclock/meetingtime.html

[2022-01-13 22:02] AdaRoseCannon commented on #41
I'd also like to drop in i'm stretched pretty thin right now but it's important issue to stay abreast of (i am also UK)

[2022-01-13 22:26] jensimmons commented on #41
Excellent, Ada. I was hoping you could represent Samsung.

[2022-01-13 22:30] gsnedders commented on #13
From the discussion earlier, @foolip was going to remove many of the tests in `encoding`, given most already pass. I'd added everything that followed from "including CJK text encoding", not limiting it to the parts particularly mentioned.

[These](https://wpt.fyi/results/encoding?label=master&label=stable&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-text%20count%3A%

[2022-01-13 23:37] gsnedders commented on #13
https://github.com/web-platform-tests/wpt-metadata/pull/2388 does duly remove the vast majority of the tests (down to six, keeping decode & encode tests for each of three encodings, despite gb18030 encode being interop already).

[2022-01-14 07:56] rachelandrew commented on #41
I can do meetings up to 7pm my time, I don't mind doing the occasional one a bit later but I'm not much use to anyone late in the day as I'm an extreme early person. I'd be more enthusiastic about a meeting at 4am my time than 9pm.

Given we have the worst timezone spread I think it might be worth trying to do as much as possible async.

[2022-01-14 11:40] jgraham commented on #9
For mouse events on disabled form controls, I created https://github.com/web-platform-tests/wpt/pull/32381 as a draft; we could land something there as `.tentative.` if we wanted to have a test, with the proviso it will be udpated once the spec is in place.

[2022-01-14 20:54] jensimmons commented on #41
<img width="555" alt="Screen Shot 2022-01-14 at 3 49 18 PM" src="https://user-images.githubusercontent.com/108474/149583230-a0f7931f-09bd-44ab-ac69-90c7ab138e87.png">

It looks like these times are the ones available. (Ignore the "Tues")

There are really two questions:
1) How early can you meet @ststimac? 6am? Or even earlier?
2) How late you can start @karlcow ? 11pm? 12am? 1am? 2am? Perhaps you

[2022-01-14 22:22] ststimac commented on #41
6AM is the earliest I can start.

[2022-01-15 00:07] karlcow commented on #41
@jensimmons Tuesday 11:00pm I already have the [webcompat team meetings](https://wiki.mozilla.org/Compatibility/Meetings) at this exact same time. And I start the Tuesday at 6am. So I would like to avoid after midnight **BUT** this is ok for me: "and take good notes for Karl." ❤️. I should not be a blocker if everyone has found the right time for them.

Thanks for asking.

[2022-01-15 00:34] dlibby- commented on #1
That list LGTM, but I suspect we'll be adding more tests as part of implementing subgrid. We should probably come up with a process for adding tests to the list or agree that we will only score against the tests in the initial snapshot.

[2022-01-17 16:25] foolip commented on #4
In https://github.com/web-platform-tests/interop-2022/issues/44 we decided to only include tests for the new viewport units in the Interop 2022 metric, and work in https://github.com/web-platform-tests/interop-2022/issues/41 towards more tests for existing viewport measurement issues, as well as potentially testing the new units better than we can currently do in automation.

The scope of the test

[2022-01-18 18:46] flackr commented on #21
The proposed list is a good start, though we should work on adding support for the areas I mentioned above:
1. The difference between `overscroll-behavior: contain` and `overscroll-behavior: none` on root and non-root scrollers. E.g. see [crbug.com/1256902](https://bugs.chromium.org/p/chromium/issues/detail?id=1256902).
2. Consider whether we can test that scrollIntoView-smooth.html is smooth reli

[2022-01-18 18:57] flackr commented on #14
Looks like we're missing css/css-scroll-snap/input/mouse-wheel.html which is one of the newly added tests. Note that in adding these tests we discovered some issues with the test driver event injection, see [crbug.com/1285411](https://crbug.com/1285411)

[2022-01-18 21:18] josepharhar commented on #12
@foolip Can you put modal-dialog-scroll-height.html back on the list? The new version is passing in all browsers: https://wpt.fyi/results/html/semantics/interactive-elements/the-dialog-element/modal-dialog-scroll-height.html

[2022-01-18 22:03] nt1m commented on #12
Done: https://github.com/web-platform-tests/wpt-metadata/pull/2399/

[2022-01-18 22:09] josepharhar commented on #11
I don't see the interop-2022-forms label on these:
- accent-color:
  - https://wpt.fyi/results/css/css-typed-om/the-stylepropertymap/properties?label=experimental&label=master&aligned&q=accent-color
  - https://wpt.fyi/results/css/css-ui?label=master&label=experimental&aligned&q=accent-color
- replace-before-load has the label on some tests but not others...?
  - https://wpt.fyi/results/html/brows

[2022-01-18 22:49] xiaochengh commented on #5
My comments regarding the list:
- `css/css-cascade/idlharness.html` should be included
- `layer-stylesheet-sharing.html` and `layer-stylesheet-sharing-important.html` are less significant tests, because they test a specific edge case where the same stylesheet is inserted into a tree scope for multiple times. I don't see any real use case of doing it
- `layer-property-override.html`, `layer-counter

[2022-01-18 23:38] josepharhar commented on #11
https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-forms%20%28status%3A%21ok%26status%3A%21pass%26status%3A%21fail%29

@domenic It looks like these tests you added are timing out on safari. I think history.back() is causing safari restart the test instead of navigate the iframe...?
https://wpt.fyi/results/html/brows

[2022-01-18 23:41] domenic commented on #11
Yeah, timeouts are a pretty common failure case for navigation-related tests. I believe I've filed a Safari bug on those.

[2022-01-18 23:59] jensimmons opened #46 "Clarify / clean-up Interop 2021 labeling"
Interop 2021 now has labels for the tests:
- [interop-2021-aspect-ratio](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2021-aspect-ratio)
- [interop-2021-flexbox](https://wpt.fyi/results/?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2021-flexbox)
- [interop-

[2022-01-19 00:22] flackr commented on #4
We could probably write a single manual test where the user hides the top controls and we simultaneously test many different things (e.g. all the various CSS units and the resize event).

[2022-01-19 14:00] foolip commented on #46
@jensimmons thanks for filing the issue. I have taken a look at the number of tests used in each scoring script, and it turns out my suspicion was wrong. The exact same number of tests are going into it for both scripts:

feature | tests
-- | --
aspect-ratio | 159
css-flexbox | 1051
css-grid | 902
css-transforms | 755
position-sticky | 42

I didn't check that the test *names* are the same, but I n

[2022-01-19 14:29] josepharhar commented on #11
If there is a way to make them fail without timing out, that would be awesome. I tried to do it myself but it seems like the test is rapidly restarting and I couldn't figure out how to detect the case where history.back() was used to start the test. If not, I guess that's OK as long as they are still included in interop2022.

Can you find the bug? It would be great to link it to it on wpt.fyi

[2022-01-19 14:50] domenic commented on #11
https://bugs.webkit.org/show_bug.cgi?id=227299

[2022-01-19 16:56] argyleink commented on #20
#6168 inquires about use-time vs parse-time for `currentColor`, which would make great tests for interop efforts.

There's been chats too that interpolation and inheritance tests could help a lot as well.

[2022-01-19 21:11] gsnedders commented on #4
Current plan:

1. Check basic support, e.g. `CSS.supports("width", "10dvh")`; do we just want to check the values can be parsed for width rather than any other properties? (i.e.,  assume it’s just a  valid`<length>` everywhere)
2. Check relationships between the different properties; we can check the vmin is the min, vmax is the max, svh <= vh <= lvh && svh <= dvh <= lvh.
3. Check behaviour when w

[2022-01-19 22:12] foolip commented on #11
In https://github.com/web-platform-tests/wpt-metadata/pull/2401 @ziransun is suggested that we drop a number of tests that involve week/month. They are:

https://wpt.fyi/results/html/semantics/forms/constraints/form-validation-checkValidity.html
https://wpt.fyi/results/html/semantics/forms/constraints/form-validation-reportValidity.html
https://wpt.fyi/results/html/semantics/forms/constraints/form

[2022-01-19 22:26] foolip opened #47 "Agenda for Jan 20 meeting"
Here's the agenda for our meeting tomorrow:

- A summary of https://github.com/web-platform-tests/interop-2022/issues/48
- Discussion of specific areas/tests if needed. (Not stepping through all of them.)
- The [RFC](https://github.com/web-platform-tests/rfcs/blob/compat_2022/rfcs/interop_2022.md) has been updated. OK to start the 1-2 week comment period to have it accepted? (Test review can conti

[2022-01-19 22:27] #44 closed

[2022-01-19 22:35] foolip commented on #20
@argyleink can you elaborate on what is needed here? Is interpolation between colors in different color spaces possible, or should this just test within color spaces? And what about inheritance, what kinds of tests are needed?

[2022-01-20 10:16] foolip opened #48 "Tests with non-OK/PASS/FAIL results"
In the Jan 13 meeting I took an action item to look into tests that fail in some other way than the usual, which usually means ERROR or TIMEOUT. When querying on wpt.fyi, it also includes `status:missing`, and I also agreed to look into tests that have different numbers of subtests in different browsers.

I've looked through the 36 tests found by the [`!(status:ok or status:pass or status:fail) an

[2022-01-20 10:20] foolip commented on #2
Given no pushback on https://github.com/web-platform-tests/interop-2022/issues/2#issuecomment-984053009, I have dropped the print reftests in https://github.com/Ecosystem-Infra/wpt-results-analysis/commit/f805a0eaeab7568ffc53d2df9b363ebc5b76bf68 + https://github.com/web-platform-tests/wpt-metadata/pull/2403.

[2022-01-20 10:30] foolip commented on #2
A live list of remaining tentative tests is here:
https://wpt.fyi/results/css?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=tentative%20%28label%3Ainterop-2021-aspect-ratio%20or%20label%3Ainterop-2021-flexbox%20or%20label%3Ainterop-2021-grid%20or%20label%3Ainterop-2021-position-sticky%20or%20label%3Ainterop-2021-transforms%29

One the transforms tests have

[2022-01-20 15:04] foolip commented on #12
One test came up in my analysis in https://github.com/web-platform-tests/interop-2022/issues/48. It looks like a solved problem, but quoting for visibility:

[2022-01-20 15:09] foolip commented on #2
One Grid test from Interop 2021 came up in https://github.com/web-platform-tests/interop-2022/issues/48:

I would guess the test is OK since it passes in Chrome and Firefox, but this might be worth looking into for someone on the WebKit team, just in case it's a bad test that needs fixing.

[2022-01-20 15:13] foolip commented on #11
A number of tests for this area came up in my analysis in https://github.com/web-platform-tests/interop-2022/issues/48. Quoting:

I would encourage folks to search for the name of their browser in this comment and see if anything needs investigation/fixing.

A bunch of the issues are about week/month input. https://github.com/web-platform-tests/wpt-metadata/pull/2401 didn't remove all of those tes

[2022-01-20 15:15] foolip commented on #14
A bunch of scrolling tests came up in my analysis in https://github.com/web-platform-tests/interop-2022/issues/48. It spans this issue and https://github.com/web-platform-tests/interop-2022/issues/21, but I'll past the whole comment since the root cause seems shared across the two in one case:

[2022-01-20 15:15] foolip commented on #21
A bunch of scrolling tests came up in my analysis in https://github.com/web-platform-tests/interop-2022/issues/48. It spans this issue and https://github.com/web-platform-tests/interop-2022/issues/14, but I'll past the whole comment since the root cause seems shared across the two in one case:

[2022-01-20 15:21] foolip commented on #9
I've sent https://github.com/web-platform-tests/wpt-metadata/pull/2406 to drop the flexbox tests, per https://github.com/web-platform-tests/interop-2022/issues/9#issuecomment-1008959096.

[2022-01-20 16:58] gsnedders commented on #48
The load event never fires, so the harness behaves like it doesn't know if there are more tests to be registered. See https://bugs.webkit.org/show_bug.cgi?id=235407.

[2022-01-20 17:55] foolip commented on #47
Update: timing of public announcement will be Feb 14 at the earliest.

[2022-01-20 19:57] josepharhar commented on #11
Thanks! I linked this bug here: https://github.com/web-platform-tests/wpt-metadata/pull/2409

Sounds good to me

Oh, I didn't notice this, I thought they were just timeout. I now see that they say "MISSING". When you open the test on wpt.live, the page constantly reloads very fast in safari, maybe that's why there are other issues? As opposed to an actual infra problem?

I'll try fixing this test

[2022-01-20 20:43] josepharhar commented on #11
I just wrestled with selection-start-end.html for a while, and I'm happy to just let it keep timing out until webkit implements the corresponding behavior.

I made a PR to separate week and month cases from selection-not-application.html: https://github.com/web-platform-tests/wpt/pull/32479

[2022-01-20 22:09] foolip commented on #11
Taking [form-submit-button-click.html](https://wpt.fyi/results/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click.html?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned) as an example, the test is indeed MISSING, but above that you'll see "Harness status" and "ERROR". If you toggle "Show Details" you'll see th

[2022-01-21 07:45] foolip commented on #48
After https://github.com/web-platform-tests/wpt/pull/32468 I can't find any more cases of inconsistent subtests across browsers except those cases where no tests ran due a harness error or timeout.

[2022-01-21 15:06] jgraham opened #49 "Score "Investigate" progress as part of the overall metric"
Mozilla are concerned that the score being based purely on the test pass rate for the accepted proposals doesn't provide any visible reward for progress on the areas that were marked as "Investigate". Although these are not at the point where we can define a set of tests for implementors to target, several of the "Investigate" areas are places where we see a lot of compatability problems in practi

[2022-01-21 15:24] lilles commented on #21
I wrote the initial tests in /css/cssom-view/scroll-behavior-smooth.html, but tests using fragment navigation and history.back() was added later and they time out because the history behavior is different in Chrome than in Firefox. Seem like a history entry is not added for Chrome and history.back() in that test will navigate out of the test page resulting in a time out.

I split out the navigatio

[2022-01-21 15:27] foolip commented on #21
@lilles this raises the question of whether scroll-behavior-smooth-navigation.html should be included in Interop 2022. @flackr can you have a look at this test and give advice?

[2022-01-21 17:04] gsnedders commented on #5
These pass everywhere so I don't see much reason to exclude them, may as demonstrate the edge cases are interoperable.

We should either: simply remove these from interop2022, or make them pass with `assert_implements_optional` when the other at-rules aren't supported. Probably the former?

[2022-01-21 17:59] josepharhar commented on #11
I tried querying window.history to see if the main page was navigated backwards to, which I think is the case where the test keeps restarting, but I couldn't quite figure it out.

https://github.com/web-platform-tests/wpt/pull/32499

[2022-01-21 20:24] Loirooriol commented on #5
Additionally to the tests mentioned by Xiaocheng, `revert-layer-011.html` also depends on `@property`.

The last case in `layer-statement-before-import.html` depends on constructable stylesheets, but other cases seem relevant so I would keep this one in interop-2022-cascade.

[2022-01-24 08:06] foolip commented on #49
I think this makes sense, and 15% is a reasonable portion of the score.

I do think spelling out the scoring of these areas ahead of time might be challenging, in particular for Pointer Events where the issue was that existing failures didn't seem representative of issues that web developers might face, but do we know in any detail what things _do_ need to be tested?

For `layerX` and `layerY`, it

[2022-01-24 11:28] svgeesus commented on #20
Yes, certainly it is possible, and [fully described in CSS Color 4](https://drafts.csswg.org/css-color-4/#interpolation).

[2022-01-24 11:29] svgeesus commented on #20
But i is mostly other specifications (like CSS Images 4, for gradients) that actually apply the color interpolation.

[2022-01-25 16:38] anttijk commented on #5
`layer-cssom-order-reverse.html` also contains a `@property` subtest. It would be nice if that was separate and excluded.

[2022-01-26 17:40] foolip opened #50 "Agenda for Jan 27 meeting"
Here's the agenda for our meeting tomorrow:

- https://github.com/web-platform-tests/interop-2022/issues/49
- Test list review. Comments on many of the issues, but not easy to see what has been addressed.
  - Proposal: assign each issue (linked in https://github.com/web-platform-tests/interop-2022/issues/42) to one person, who combs through comments and then summarizes what still needs action by t

[2022-01-26 17:49] #47 closed

[2022-01-26 17:53] foolip commented on #50
Since I'm not sure if I will be able to attend the meeting, here's an "update" on metrics. Finishing the metrics computation is on me, and in particular I've promised to look into https://github.com/web-platform-tests/interop-2022/issues/46 and to make sure we account for all non-OK harness statuses and subtest mismatches in scoring, making a deliberate decision about what to do with each. I've be

[2022-01-27 02:56] karlcow commented on #41
In general, Mozilla Viewport issues are collected on [Bug 1123938 - [meta] Make viewport handling consistent with other browsers](https://bugzilla.mozilla.org/show_bug.cgi?id=1123938)

* [Firefox doesn't handle body with height 100vh properly with overflow:hidden on the root element](https://bugzilla.mozilla.org/show_bug.cgi?id=1663634)
* [Using keyboard on inputs causes viewport to resize, shrink

[2022-01-27 17:03] jensimmons commented on #49
I think this makes sense to me. Although for Viewports, perhaps we make the (few) automated tests be 50%, and the manual testing that we plan & do be 50%. Perhaps?

We won't be manually able to test over & over, however. So I'm open for debate.

[2022-01-27 17:12] chrishtr commented on #50
Additional agenda item:

* List of organizations/people who sign on to supporting this effort?

[2022-01-27 17:35] jensimmons commented on #49
I have a serious problem with reopening and re-litigating decisions already made by changing the process after the fact.

[2022-01-27 18:01] una commented on #50
[code]

[2022-01-27 18:59] chrishtr commented on #50
[PR to add a list of supporting organizations and individuals](https://github.com/web-platform-tests/interop-2022/pull/51).

[2022-02-01 13:41] gsnedders commented on #48
This is the fact wptrunner doesn't support the top-level test page being navigated during the test, and [html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/helpers.js](https://github.com/web-platform-tests/wpt/blob/62c22e4362e19418022e03ca4f5bea76b998fa3f/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/helpers.js#L54) i

[2022-02-01 17:03] gsnedders commented on #5
I've removed the tests in https://github.com/web-platform-tests/wpt-metadata/pull/2492; this doesn't do anything about those with subtests though.

[2022-02-02 22:23] foolip opened #54 "Agenda for Feb 3 meeting"
Here's the agenda for our meeting tomorrow:

- https://github.com/web-platform-tests/interop-2022/issues/46
- https://github.com/web-platform-tests/interop-2022/issues/49
  - Revisit [Interop 2022 positions](https://docs.google.com/spreadsheets/d/1SQF81pf5hxFE9dMZcJGXE2RNmb7AjFHg6mnkf9KOEC0/edit?usp=sharing) to determine which are now "Investigate" (positions may have changed after last meeting)

[2022-02-03 10:51] foolip commented on #46
I have taken a close look at this. The 4 data files that get loaded by https://wpt.fyi/compat2021 are:
- [`summary-experimental.csv`](https://raw.githubusercontent.com/Ecosystem-Infra/wpt-results-analysis/gh-pages/data/compat2021/summary-experimental.csv)
- [`summary-stable.csv`](https://raw.githubusercontent.com/Ecosystem-Infra/wpt-results-analysis/gh-pages/data/compat2021/summary-stable.csv)
- [

[2022-02-03 11:28] foolip commented on #46
Here's how the summary score was computed for Compat 2021:

https://github.com/web-platform-tests/wpt.fyi/blob/39242385b97882de45af97f7713bc8e67eff7564/webapp/components/interop-2022.js#L121-L133

I can get the same scores as are shown on the Compat 2021 dashboard like this:
[code]

So the way this worked, because each area was first scored 0-20, the only way to increase the score was to pass a 5%

[2022-02-03 11:51] foolip commented on #46
One thing remains to be explained here:

Taking [this Safari run](https://wpt.fyi/results/css/css-transforms?q=label%3Ainterop-2021-transforms&run_id=5086051111534592) as the example since it's what I used in the previous comments, there are 755 tests. The Safari score in our metrics are:
- 0.8872781623 as computed for Compat 2021
- 17 for the overall Compat 2021 metric, from `Math.floor(0.8872781

[2022-02-03 14:27] jgraham commented on #9
Remaining items here are:
* Land the tests from https://bugzilla.mozilla.org/show_bug.cgi?id=1745310 for formatting context root with negative margin
* Land the test in https://github.com/web-platform-tests/wpt/pull/32381 maybe as `.tentative` for disabled form controls
* Add a test for the web-share self permission. I don't know a lot about this; it would be useful if someone with more experience

[2022-02-03 15:08] #50 closed

[2022-02-03 15:59] gsnedders commented on #49
At this stage, we have a number of concerns about substantially changing the scoring approach, especially when we are so close to the proposed announcement date. This isn’t to say we don’t think there’s substantial value in documenting progress on the things marked as investigate, but I think we’d need a much more concrete proposal as to how the scoring would affect the overall scores.

It’s uncle

[2022-02-03 16:09] jensimmons commented on #54
Under "Update on metrics" I'd like to talk about how the math was handled in 2021 scoring and how we can perhaps do better for 2022:
https://docs.google.com/spreadsheets/d/1gwMmCM_qr5Ew7GPOEWNeWxN_jj0U4wMPcoECH5zzJYI/edit?usp=sharing

[2022-02-03 16:21] jgraham commented on #49
As a point of clarity, the proposal is to have a uniform score that applies to all implementations.

Investigation work intrinsically requires collaboration and so it makes sense to score it in a way that rewards everyone for collective progress. That does come with the tradeoff that you can't use that score in a "competitive" sense against other implementations. But you can use it to demonstrate

[2022-02-03 17:06] foolip commented on #54
@jensimmons I've added https://github.com/web-platform-tests/interop-2022/issues/46 to the top of the agenda, since I think that explains a lot of what's going on with Compat 2021 scoring. If there's more to discuss we can do that of course.

[2022-02-03 22:22] jensimmons commented on #41
To update everyone — those of us going to the weekly meetings to plan Interop 2022 are still fairly busy with that work. I plan to kick off this committee once Interop 2022 has been launched (which should happen sometime in February).

This effort is not forgotten! Just too much to start yet, given all the ongoing debates and coordination required for the larger Interop 2022 effort.

[2022-02-03 22:22] skobes commented on #41
Waterloo, Canada (eastern time zone)

[2022-02-04 09:11] foolip commented on #45
@argyleink we agreed in the meeting yesterday that more feedback on the dashboard can go in this issue, so mentioning you here so you won't miss it :)

[2022-02-04 17:33] foolip commented on #54
Here are the notes I took:

[**Clarify / clean-up Interop 2021 labeling**](https://github.com/web-platform-tests/interop-2022/issues/46)

Jen: [Convertion of test results to score](https://docs.google.com/spreadsheets/d/1gwMmCM_qr5Ew7GPOEWNeWxN_jj0U4wMPcoECH5zzJYI/edit#gid=0). Everything gets rounded down in the step of converting to an integer 0-20.
Philip: I found the same when looking into http

[2022-02-04 18:02] foolip commented on #54
I have updated https://github.com/web-platform-tests/rfcs/pull/99 with the proposed 90/10% split of the metric as discussed in the meeting.

[2022-02-09 16:52] foolip opened #56 "Agenda for Feb 10 meeting"
Here's the agenda for our meeting tomorrow:

- Taking public notes
- https://github.com/web-platform-tests/interop-2022/issues/46
- https://github.com/web-platform-tests/interop-2022/issues/49
  -  Confirming if we're all happy with the 90/10% split between test scores and investigation scores
- Update on metrics and dashboard
  - https://github.com/web-platform-tests/wpt.fyi/pull/2744
  - https:/

[2022-02-10 15:57] #54 closed

[2022-02-10 17:09] foolip commented on #56
Additional agenda item: fleshing out openness to participation in https://github.com/web-platform-tests/rfcs/blob/compat_2022/rfcs/interop_2022.md#updating-the-tests

[2022-02-15 19:42] gsnedders opened #61 "Naming of Focus Areas"
Currently the dashboard (https://github.com/web-platform-tests/wpt.fyi/pull/2744) has:

2022:
* Cascade Layers
* Color
* Containment
* \<dialog> and ::backdrop
* Forms
* Scrolling
* Subgrid
* Text
* Viewport Units
* Web Compat

2021:
* Aspect Ratio
* Flexbox
* Grid
* position: sticky
* Transforms

Investigate:
* Editing, contenteditable and execCommand
* Pointer and Mouse Events
* Viewport Measure

[2022-02-15 20:50] foolip commented on #61
"Color" is one that I struggled a bit with and would be open to other suggestions, like perhaps "Color Spaces & Color Functions", although that's just a tad long.

I think that adding in "CSS" in a consistent way will be tricky, in particular I don't know about "&lt;dialog> and ::backdrop", "Viewport Units" and "Aspect Ratio". But again, open to suggestions.

[2022-02-15 22:25] jensimmons commented on #61
1) If we do add "CSS" to something, let's not have confusion about alphabetical order. That was a problem in 2021. "CSS Transforms" got weird in the order.

2) Imho, the test labels are totally fine. (aka `interop-2022-color`). It's the wording in the table that I'm wondering about. It feels like the super short keywords for test labels have been directly translated to human-readable names in the

[2022-02-16 17:15] foolip commented on #61
I'll put this on the agenda for tomorrow. My reactions inline:

There's a bunch more than form submission in https://github.com/web-platform-tests/interop-2022/issues/11#issuecomment-976047408 and the labeled tests. The `appearance` property, events and validation are the big ones. If we want to make it just a bit longer, "Form Controls" would work, but isn't really more specific.

Yep, that seems

[2022-02-16 17:18] foolip opened #62 "Agenda for Feb 17 meeting"
Here's the agenda for our meeting tomorrow:

- Note taker
- https://github.com/web-platform-tests/interop-2022/issues/61
- https://github.com/web-platform-tests/interop-2022/issues/46
- Update on metrics and dashboard
  - https://github.com/Ecosystem-Infra/wpt-results-analysis/pull/73
    - Plan for moving this into the web-platform-tests org post-launch
  - https://github.com/web-platform-tests/w

[2022-02-16 17:20] foolip commented on #56
@meyerweb can you post the notes for this meeting? (I have the link to the notes, but they can be edited by anyone with the link, and would be vandalized by bots.)

[2022-02-16 18:28] meyerweb commented on #56
Whoops!  Sorry about that; here you go. I set it to be viewer-only. https://docs.google.com/document/d/1QP15ByVp9NghTNRfKV0PSlEdHGqY3_dTT73Bx1p8qao

[2022-02-17 17:40] foolip commented on #61
In the meeting just now we've decided to rename these:
- Color Spaces and Functions (more precise, doesn't suggest `color` is included)
- Dialog Element
- Typography and Encodings
- Sticky Positioning
- Editing, contenteditable, and execCommand

Not great, to be revisited in this issue tomorrow:
- Forms

[2022-02-17 19:05] jensimmons commented on #13
For reference, this is what we debated and decided.

Technology Considered | Decision
-- | --
font-variant-alternates + font-variant-position | Include
IC unit (CJK focused) | Include
hanging punctuation (JP focused) | Exclude
Initial Letter | Exclude
Color fonts | Exclude
Segment Break Transformation rules | Exclude
CJK text encoding | Include

[2022-02-17 19:07] jensimmons commented on #11
For reference, this is what we considered and decided:

Technology considered | Decision
-- | --
appearance | Include
accent-color | Investigate
`<form rel>` | Include
Events on disabled form controls | Include
input type=month + type=week | Exclude
Input elements bugs | Include
Form submission bugs | Include
Form validation bugs | Include

[2022-02-18 08:00] foolip commented on #56
Thanks @meyerweb!

[2022-02-18 08:00] #56 closed

[2022-02-18 19:35] meyerweb commented on #62
Meeting notes: https://docs.google.com/document/d/1hZ3uuORKXZhWGpGzXxpF-ZgM4xgXLMabb6d2v6spolU

[2022-02-21 11:50] #45 closed

[2022-02-23 16:42] foolip opened #63 "Agenda for Feb 24 meeting"
Here's the agenda for our meeting tomorrow:

- Postponing launch to next week
- Creating the Interop 2022 GitHub team
- Next steps for our 3 investigation efforts
  - Confirming owners and participants
  - Ready to review rough plans next meeting?
- Meeting cadence going forward

Previous meeting: https://github.com/web-platform-tests/interop-2022/issues/62

[2022-02-23 16:48] foolip commented on #61
The renaming has been done, except for Forms which remains "Forms". @jensimmons would you like to revisit that in a future meeting?

[2022-02-23 16:49] #48 closed

[2022-02-23 16:51] foolip commented on #42
All of the labels are applied and there's nothing more to do on this issue.

[2022-02-23 16:51] #42 closed

[2022-02-23 16:58] foolip commented on #43
Metrics computation was implemented in https://github.com/Ecosystem-Infra/wpt-results-analysis/pull/73.

https://github.com/web-platform-tests/rfcs/pull/106 tracks moving this code into the WPT org.

@gsnedders @jgraham and I have discussed integer math vs. other approaches in the matrix chat without a clear conclusion, but https://github.com/Ecosystem-Infra/wpt-results-analysis/pull/90 serves as

[2022-02-23 20:57] jensimmons commented on #61
We used "Form Fixes" in our blog post. But I don't know that there's enough momentum behind a desire for a change to push this. If folks want to stick with "Forms", we would be ok with that.

[2022-02-24 10:28] foolip commented on #61
Alright, let's stick with "Forms".

[2022-02-24 10:28] #61 closed

[2022-02-24 14:32] foolip commented on #63
Additional agenda item: https://wpt.fyi/interop-2022?feature=summary has actually been up for 23 days already without me noticing, deployed in https://github.com/web-platform-tests/wpt.fyi/issues/2741 as part of regular wpt.fyi deploy. We need to decide if we should take it down, or push https://staging.wpt.fyi/interop-2022 to prod instead.

[2022-02-24 15:33] foolip commented on #63
Concretely, in the meeting we should decide which of the following we want to do:
- Deploy https://staging.wpt.fyi/interop-2022 to prod, which has the "please wait" notice and the actual dashboard
- Merge https://github.com/web-platform-tests/wpt.fyi/pull/2775 and deploy, which would leave just the notice
- Remove the route, so that https://wpt.fyi/interop-2022 will redirect to https://wpt.fyi/res

[2022-02-24 17:48] foolip commented on #63
Brief meeting notes:

- The group agreed on March 1 (9am Pacific) as the new launch date. Checking in via email on Monday.
- For the Interop 2022 GitHub team, @foolip will invite everyone who has been participating in the Interop 2022 meetings, first mentioning it in the team discussion thing and waiting a few days
- Investigation efforts:
  - Viewport Measurement: https://github.com/web-platform-

[2022-02-28 10:57] jgraham commented on #17
I think we need to get some editing experts from various engines together to set the goals for this area.

I've set up https://github.com/web-platform-tests/interop-2022-editing as a venue for discussions. @masayuki-nakano is the gecko engineer working most on editing topics and @karlcow knows about the compatibility challenges; we also need some Blink and WebKit contributors who are able to provi

[2022-03-01 10:23] foolip commented on #17
@dlibby- do you have a contact at Microsoft for someone who knows editing well and could participate in this effort?

[2022-03-02 19:22] dlibby- commented on #17
@BoCupp-Microsoft can help out here.

[2022-03-03 20:53] flackr commented on #14
@kevers-google, could you look into some of these failures?

[2022-03-03 20:56] kevers-google commented on #14
Will do

[2022-03-04 10:30] thlinard opened #64 "font-style for variable fonts with either Slant or Italic axes."
**Description**
Implementation of CSS Spec for font-style for variable fonts with either Slant or Italic axes.

**Specification**
[CSS Spec for font-style](https://www.w3.org/TR/css-fonts-4/#font-style-prop)

**Tests**
Links to web-platform-tests (on https://wpt.fyi) for the feature (this can be all tests, not a curated list): none, but https://arrowtype.github.io/vf-slnt-test/ (three test fonts a

[2022-03-04 15:27] rwales1000 opened #65 "Old fashioned html option lists"
Traditional option lists limit the user to typing the first character when selecting.  Why not offer type ahead?  This would be a major step forwards for this vintage web control.

[2022-03-04 17:22] tophf commented on #65
AFAIK, the `<select>` dropdown is shown as a native OS control, so the browser can't change its behavior without hooking into the OS internals, which is fragile and not even possible on all platforms. The long-term solution would be to implement such controls in the browser, which would solve a lot of long-standing problems inherent to the platform implementation, which was based on UX/UI of the '

[2022-03-06 15:57] maniatoffl commented on #65
I always wondered , How come we are not able to customize the view of heavily used select dropdown. This leaves majorly two options.

1. Go with browser's default option (Mostly Designer won't be ok with that. Also you would have made fully colour full web page but still have to live up with default size and coloured select options)

2. Go for `librayYouUse-select`. (Ex. `react-select`) component

[2022-03-08 05:10] cdcarson opened #66 "README.md has a dead link"
https://github.com/web-platform-tests/rfcs/blob/compat_2022/rfcs/interop_2022.md linked to from the README does not exist.

[2022-03-08 08:43] foolip commented on #66
Thanks for reporting! That's because the pull request was merged and the branch removed. I'll fix.

[2022-03-08 08:44] foolip commented on #66
I fixed this in https://github.com/web-platform-tests/interop-2022/commit/5228ed0b4066b0b28714af36bbe63d969ad03bd1.

[2022-03-08 08:44] #66 closed

[2022-03-09 17:38] foolip opened #67 "Agenda for March 10 meeting"
Here's the agenda for our meeting tomorrow:

- We launched, yay!
- https://github.com/web-platform-tests/interop-2022/issues/68 (invitation to comment on issue / discuss next time)
- Group communication (email list)
- Test and score updates
- Investigation effort updates
  - https://github.com/web-platform-tests/interop-2022-editing/issues/1
  - Pointer and Mouse Events (no issue/repo yet)
  - htt

[2022-03-09 17:38] #63 closed

[2022-03-10 16:00] foolip opened #68 "Retrospective on process and launch"
Interop 2022 launched on March 3, 2022, with [a lot of buzz](https://docs.google.com/document/d/1iRfw36aoADk6ctz3Lx6fV0J8UF1hY0hwSBeQjW7xyEI/edit?usp=sharing) and excitement.

While it's still fresh in memory, I think it would be good to look back at the whole process and launch, and record learnings for Interop 2023. Some probing questions:
- What worked well and not so good with our proposal pro

[2022-03-10 17:15] foolip commented on #67
On email lists, we'll create a shared doc with addresses that are easy to copy-paste into email clients and continue to explore other options.

[2022-03-10 17:18] foolip commented on #67
On test and score updates, _unexpected_ changes are the most interesting.

[2022-03-10 17:33] foolip commented on #67
On updates, we'll probably want to do something coordinated at the end of the year at least. (Compat 2021 had a mid-year update as well.) Coordinated posts make sense to focus on the things that developers can now do as a result of this work. Cascade Layers might be a good example of this.

[2022-03-14 22:13] kevers-google commented on #14
Started looking at the tests involving new test_driver.Actions().scroll(...) .  Wheel scrolls do not appear to be supported in test_driver on Firefox or Safari.

Based on https://web-platform-tests.org/writing-tests/testdriver.html#test_driver.action_sequence, Actions.send() should reject the
promise if any of the actions fail, so the following example should pass or fail based on whether a wheel

[2022-03-14 22:51] karlcow commented on #14
For Firefox, there's a in-progress patch from @jgraham
https://phabricator.services.mozilla.com/D139123

[2022-03-15 13:40] kevers-google commented on #14
Keyboard.html is Timing out if not seeing the expected scroll in response to a keypress.  Since the first test works, it would suggest that Firefox supports test_driver.send_keys().  If  'arrowup' in the second test is replaced with 'pageup' then we reach the desired snap point.  If waitForScrollEnd(target_position) is replaced with waitForAnimationEnd(get_position_callback) then we see that the p

[2022-03-15 13:53] mrobinson commented on #14
There are a couple more issues with this particular test as well:
- It assumes that a non-focusable element can receive keys, but I don't think this follows the WebDriver specification. From https://www.w3.org/TR/webdriver/#element-send-keys:

  I have a fix for this here: https://github.com/web-platform-tests/wpt/pull/33151
- It assumes that scrolls will use smooth scrolling. This isn't currently

[2022-03-18 18:49] foolip commented on #14
Thanks for digging into the failures, @kevers-google and @mrobinson! For the tests that error instead of fail, does someone have the time to try fixing those to properly fail instead?

[2022-03-23 17:06] foolip opened #69 "Agenda for March 24 meeting"
Here's the agenda for our meeting tomorrow:

- https://github.com/web-platform-tests/interop-2022/issues/68
- Test change review: https://github.com/web-platform-tests/wpt-metadata/pull/2610
- Test and score updates
- Investigation effort updates
  - https://github.com/web-platform-tests/interop-2022-editing/issues/1
  - Pointer and Mouse Events
    - https://github.com/web-platform-tests/interop-

[2022-03-23 17:06] #67 closed

[2022-03-24 16:13] foolip commented on #68
Discussed in https://github.com/web-platform-tests/interop-2022/issues/69

Brian: It's a bit early to say if it worked well or not.

James: For gather positions, hopefully next time we'll have a clearer shared understanding to avoid last minute changes. But big picture nominations and consensus worked well.

Philip: Typography and Encodings. [to flesh out later]

Simon: I'd like a clearer plan and

[2022-03-24 16:17] gsnedders commented on #68
FWIW: I started writing something longer a while back, but I never finished it. I probably should finish it.

[2022-03-24 16:35] foolip commented on #69
Rough meeting notes:

## https://github.com/web-platform-tests/wpt-metadata/pull/2610

Philip: This was automatically merged. Please review for next time to make sure tests are OK.

Sam: Only PRs from branches in the repo are merged.

Philip: Action item to avoid merging automatically if we're adding or removing interop-* labels. (File an issue.)

Sam: Or require review for all labels.

## https:/

[2022-03-24 21:17] foolip commented on #68
@gsnedders I also have a half finished thing. Maybe we can just post our unfinished thoughts? 😀

[2022-03-29 08:13] foolip commented on #68
Here are my initial thoughts on how [Interop 2022 positions](https://docs.google.com/spreadsheets/d/1SQF81pf5hxFE9dMZcJGXE2RNmb7AjFHg6mnkf9KOEC0/edit#gid=4939874) worked.

Overall, I'm very happy with the outcome, for example Subgrid, Cascade Layers, and Forms are focus areas that I think will be noticed by web developers, and the Support/Oppose/Neutral method of establishing consensus worked well

[2022-03-29 12:26] foolip commented on #9
@jgraham are all of the remaining items in https://github.com/web-platform-tests/interop-2022/issues/9#issuecomment-1029044818 still remaining?

[2022-03-29 12:55] jgraham commented on #9
Yes, I think so. I marked the PR as ready for review if you want to take a look. @dholbert and update on the negative margin tests?

[2022-03-29 23:30] dholbert commented on #9
Yeah, sorry for the delay on those; I'll aim to get those tests landed this week, as a "part 1" to https://bugzilla.mozilla.org/show_bug.cgi?id=1745310. (I'll land them on mozilla-central, and then the wpt merge bot should upstream them soon after that.)

[2022-03-30 16:47] jensimmons commented on #69
As for who's representing Apple for the Point and Mouse Events investigation — that’s going to be Wenson Hsieh @whsieh, Devin Rousso @dcrousso, and Antoine Quint @graouts.

[2022-03-30 16:50] jensimmons commented on #69
As for next steps, yes, a meeting for Viewport Measurements is next. And setting up ways to work async, given the _very_ wide range of timezones in the group.

Could someone with privileges setup a new repo for the Viewport investigation? Much like: https://github.com/web-platform-tests/interop-2022-pointer @foolip perhaps?

[2022-03-31 07:46] foolip commented on #41
As requested by @jensimmons, I've created https://github.com/web-platform-tests/interop-2022-viewport with a boilerplate README now. Everyone in the Interop 2022 team has write access, and we can also add additional collaborators who aren't part of that team.

[2022-03-31 07:49] foolip commented on #69
@jensimmons for sure, I've created https://github.com/web-platform-tests/interop-2022-viewport now! https://github.com/orgs/web-platform-tests/teams/interop-2022 has write access, everyone feel free to edit the README directly to fill in those TODOS.

(I didn't create a Matrix chat room, because @jensimmons mentioned in a meeting a long and unsuccessful struggle to get it working, and it makes no

[2022-04-26 21:15] gsnedders opened #70 "Extend Interop 2022 Viewport tests"
Specifically, the suggestion is to extend this to:

https://wpt.fyi/results/css/css-values?label=master&label=experimental&product=chrome&product=firefox&product=safari&product=webkitgtk&q=label%3Ainterop-2022-viewport%20or%20%2Fcss%2Fcss-values%2Fviewport-units-keyframes.html%20or%20%2Fcss%2Fcss-values%2Fviewport-units-media-queries.html%20or%20%2Fcss%2Fcss-values%2Fviewport-units-invalidation.ht

[2022-04-26 21:47] gsnedders commented on #68
I think it's worthwhile stepping even further back than that; one thing that was clear to me was we didn't actually have a good grasp on what exactly the goals were, and what the inclusion criteria was. AIUI, the goal with Interop 2021 had been to target known developer pain-points, both in terms of browser incompatibilities and fulfilling feature requests. Some of the challenge with some of the p

[2022-04-27 08:05] robnyman commented on #68
@gsnedders I like the questions!

There's probably some room in there as well for how useful and used that area is, e.g. there are pain points but for features not much used by the broader developer audience (and likely never will be either, even if the pain points have been addressed).

[2022-04-27 14:33] foolip opened #71 "WebDX collaboration on research + tracking availability and adoption"
[WebDX](https://docs.google.com/document/d/1AjwI-Drhnrkk1FR2gzeuhLofM8yGPyvLUNlE2J1QCvU/edit?usp=sharing) (Web Developer Experience) is a proposal by @dontcallmedom, @atopal and some people involved in Interop 2022 for a group to collaborate on web developer needs research and tracking of availability and adoption. There have been a few meetings about it, but it's at a brainstorming phase and the

[2022-04-27 14:46] foolip commented on #68
I agree that we shouldn't use the proposal/sub-proposal structure again, that created some unnecessary problems. Doing away with it does seem to necessitate a second decision step after the positions, however, as @gsnedders is getting at here:

I think we could do this in a group discussion without too much trouble, and maybe that would be enough. I would like to avoid adding a second step in the

[2022-04-27 14:52] foolip commented on #68
@gsnedders when it comes to alignment on goals, one practical thing we could do is to write down some principles for the effort, things that we are already largely aligned on. And I think questions around those principles would make sense for the proposals template and when evaluating them.

However, I think we will have to accept that we don't all have the same prioritization approach, and that a

[2022-04-27 14:57] foolip opened #72 "Agenda for April 28 meeting"
Here's the agenda for our meeting tomorrow:

- https://github.com/web-platform-tests/interop-2022/issues/68 (summarizing it in a form we can come back to for Interop 2023)
- https://github.com/web-platform-tests/interop-2022/issues/71
- Test change review: https://github.com/web-platform-tests/interop-2022/issues/70
- Test and score updates
- Investigation effort updates
  - Editing (@jgraham): ht

[2022-04-27 14:57] #69 closed

[2022-04-28 16:15] foolip commented on #68
Attempted summary of our takeaways:
- The proposal/sub-proposal structure didn't work great, created some unnecessary problems. In the absence of this structure, do we need a second pass to group things, possibly drop things?
- Evaluating proposals is harder if we don't agree on what the goals are. Part of it is making sure that rationales are given. Some implicit goals never stated. Spend a bit o

[2022-04-28 16:21] gsnedders commented on #68
I guess one process question is whether this is all being handled by the Interop team or if any of this is going back to the Core team, which I guess would be the latter if we want to amend the RFC to clarify any of t he above?

[2022-04-28 16:36] jgraham commented on #70
@hiikezoe  @emilio I assume we're OK with adding these tests to the metric (seems like Firefox already passes them at least). Did we write any tests/find any interop issues during implementation that should also be included?

[2022-04-28 16:37] foolip commented on #68
Also discussed today:

Do we want a clear call for public proposals? Do we want to seek input (probably not voting) from the public?

[2022-04-28 16:50] foolip commented on #72
_Brief notes from the call._

[**Retrospective**](https://github.com/web-platform-tests/interop-2022/issues/68)

Summary in https://github.com/web-platform-tests/interop-2022/issues/68#issuecomment-1112400180 and following comments. @foolip will close the issue after scanning the discussion once more.

[**WebDX collaboration**](https://github.com/web-platform-tests/interop-2022/issues/71)

This sl

[2022-04-28 17:30] emilio commented on #70
We did find a subtle correctness issue and landed a test for https://bugzilla.mozilla.org/show_bug.cgi?id=1764279. WebKit has some extra bugs here in the sense that they use the root viewport units. Hard to test the difference between the new units tho, since there's no guarantee they would be different.

[2022-04-29 07:57] foolip commented on #70
The added test is https://wpt.fyi/results/css/css-values/viewport-units-writing-mode-font-size.html.

@andruud took a look and thinks that looks OK.

@gsnedders would the WebKit team be happy adding this test as well?

[2022-04-29 08:40] zcorpan commented on #71
Having read the doc now, I think it certainly seems interesting!

[2022-04-29 19:19] boazsender commented on #71
+1

[2022-05-03 14:10] johannesodland opened #73 "Extend Interop 2022 scrolling tests"
**Description**
Not all browsers include the end-side padding in the scrollable overflow area when the scrollable container is flexbox.
This affects scrolling and flexbox which were focus areas in 2022 and 2021.

Proposal is to include the WPT tests either under #9, scrolling or flexbox.

**Bug reports**
https://bugs.webkit.org/show_bug.cgi?id=236634

**Specification**
https://www.w3.org/TR/css-ov

[2022-05-05 17:56] nt1m opened #74 "Some interop-2022-cascade tests cover too many things"
This one tests `document.adoptedStylesheets` which WebKit does not implement: https://wpt.fyi/results/css/css-cascade/layer-statement-before-import.html?label=master&label=experimental&product=chrome&product=firefox&product=safari&aligned&q=label%3Ainterop-2022-cascade

This one tests `@property`: https://wpt.fyi/results/css/css-cascade/layer-cssom-order-reverse.html?label=master&label=experimenta

[2022-05-05 18:03] gsnedders commented on #74
see also https://github.com/web-platform-tests/interop-2022/issues/5

I think we basically just want to use `assert_implements_optional` for these?

[2022-05-05 18:06] nt1m opened #75 "Extend interop-2022-cascade tests"
I propose adding:

css/css-cascade/all-prop-revert-layer.html
css/css-cascade/revert-layer-013.html
css/css-cascade/revert-layer-014.html
css/css-cascade/revert-layer-015.html

Not sure if the first one is appropriate given the scoring is based on the number of supported CSS properties, but the other 3 seem reasonable (they test a crash in WebKit that was recently fixed).

[2022-05-08 05:34] dholbert commented on #9
Update: that negative-margin test is now in WPT:
https://wpt.fyi/results/css/CSS2/floats/floats-wrap-bfc-with-margin-001.html

Chrome, WebKit, and Firefox Nightly all pass it (with today's Firefox Nightly or later, which include the fix that I landed in https://bugzilla.mozilla.org/show_bug.cgi?id=1745310 ).

We can add that test to the interop2022 compat set.  Since everyone passes it (now), it'l

[2022-05-09 09:01] jgraham opened #76 "Extend Interop-2022 webcompat tests"
Proposal is to add https://wpt.fyi/results/css/CSS2/floats/floats-wrap-bfc-with-margin-001.html

That was one of the original bugs on the compat list, but didn't have any coverage at the time. Now it's been decided to align on Blink/WebKit behaviour and Gecko has added a test/fixed the issue, so the test shouldn't be a surprise to anyone, or adversely affect their score.

More details in https://g

[2022-05-09 09:16] emilio commented on #75
No, sounds good.

[2022-05-09 10:58] johannesodland commented on #73
I'm not aware of any site breakage caused by this issue. Developers have used 'hacks', such as inserting a ::before and ::after pseudo-element to extend the scrollable overflow area as padding does not work in all browsers: https://webplatform.news/issues/2019-08-07.

Notice that this hack does not work well with the flexbox gap property, as the pseudo-element will generate an extra gap that you w

[2022-05-10 08:23] foolip commented on #75
@andruud can you review the suggested additions?

[2022-05-10 12:40] andruud commented on #75
LGTM

[2022-05-11 17:01] foolip opened #77 "Agenda for May 12 meeting"
Here's the agenda for our meeting tomorrow:

- Test change review:
  - https://github.com/web-platform-tests/interop-2022/issues/70
  - https://github.com/web-platform-tests/interop-2022/issues/74
  - https://github.com/web-platform-tests/interop-2022/issues/75
  - https://github.com/web-platform-tests/interop-2022/issues/76
- Investigation effort updates
  - Editing (@jgraham): https://github.com

[2022-05-12 16:05] gsnedders commented on #70
Yes.

[2022-05-12 16:08] foolip commented on #74
@xiaochengh do you think these tests can be split (perhaps using variants) or use `assert_implements_optional` to avoid the hard dependency on these features?

[2022-05-12 16:11] foolip commented on #74
Discussed in https://github.com/web-platform-tests/interop-2022/issues/77. General preference is that we split the tests if at all possible. Using `assert_implements_optional` would raise the question of what features are optional? Every other spec?

[2022-05-12 16:12] foolip commented on #75
Discussed in https://github.com/web-platform-tests/interop-2022/issues/77. We have support from someone from each browse engine, so we'll add these tests.

[2022-05-12 16:14] foolip commented on #76
Discussed in https://github.com/web-platform-tests/interop-2022/issues/77. Since the test already passes everywhere it's easy to say 👍 to including it. It's a valuable test that came out of this effort.

[2022-05-12 16:15] foolip commented on #77
_Rough meeting notes_

**Test change review**

Action item: Labeling #70, #75 and #76, following up on #74.

[2022-05-12 16:24] foolip commented on #41
Discussed in https://github.com/web-platform-tests/interop-2022/issues/77. @foolip will volunteer to sort out the logistics of a first meeting, if that would help.

[2022-05-12 17:42] xiaochengh commented on #74
Is there a list of tests we'd like to split, and a guideline how to split them?

[2022-05-16 08:14] foolip opened #78 "Interop 2023"
We don't have a repository for Interop 2023 yet and haven't decided on a process/timeline, but here's an issue to subscribe to. I'll comment on this issue when Interop 2023 starts happening.

[2022-05-16 16:02] dontcallmedom commented on #77
Two meetings are happening - one tomorrow at 2pm UTC, another one on Thursday at 3pm UTC.

[2022-05-16 16:44] foolip opened #79 "dialog-show-modal.html test changed to depend on :modal pseudo-class"
https://github.com/web-platform-tests/wpt/pull/33999 updated a test that's part of Interop 2022 to depend on `:modal`, causing it to regress in all browsers, since nobody implements `:modal` yet.

We should decide in the next meeting whether we're happy with this change, or if we should split the test to avoid the dependency, since `:modal` wasn't even spec'd when Interop 2022 started.

cc @nt1m

[2022-05-16 16:48] nt1m commented on #79
WebKit implements it (not in latest STP though). I'd be OK either way, css/selectors/invalidation/modal-pseudo-class-in-has.html also covers it.

Splitting it would work, though while we're there it'd be nice to clean up 2 tests with similar names:

html/semantics/interactive-elements/the-dialog-element/dialog-showModal.html
html/semantics/interactive-elements/the-dialog-element/dialog-show-modal.

[2022-05-16 16:51] nt1m commented on #74
@xiaochengh See the first comment, essentially css/css-cascade/layer-statement-before-import.html and css/css-cascade/layer-cssom-order-reverse.html

[2022-05-16 16:58] josepharhar commented on #79
Sounds good to me! I hope that making a separate test for :modal wouldn't be too much extra code/logic, but I can't tell for sure by skimming the new changes.

[2022-05-16 17:54] scottkellum opened #80 "Logical property consistency"
**Description**
Logical properties are incredibly helpful for both internationalization as well as finer control of layout and flow. Because logical properties need to work together in layout, inconsistencies can make the experience of using them frustrating to unreliable.

Here is a [showcase of some issues I have run into with logical properties](https://codepen.io/scottkellum/pen/WNMRJMj/1abb90

[2022-05-17 16:38] foolip opened #81 "Reinstate/add showPicker() tests"
For Forms, we originally had show-picker.html and show-picker-cross-origin-iframe.html labeled for Interop 2022.

In discussion with @ziransun we found that show-picker.html has since been renamed (https://github.com/web-platform-tests/wpt/pull/33465) and then accidentally dropped from the test list in https://github.com/web-platform-tests/wpt-metadata/commit/6eea9fef75bb8ec3a6d26776b03625dc481158

[2022-05-18 13:11] foolip commented on #70
I have labeled the new tests here:
https://github.com/web-platform-tests/wpt-metadata/pull/2726
https://github.com/web-platform-tests/wpt-metadata/pull/2727

[2022-05-18 13:11] #70 closed

[2022-05-18 13:13] foolip commented on #74
The tests were split in https://github.com/web-platform-tests/wpt/pull/34081. Thanks @xiaochengh!

[2022-05-18 13:13] #74 closed

[2022-05-18 13:17] foolip commented on #75
I have labeled these tests in https://github.com/web-platform-tests/wpt-metadata/pull/2728.

[2022-05-18 13:17] #75 closed

[2022-05-18 13:26] nt1m commented on #76
oops

[2022-05-18 13:27] nt1m commented on #76
https://github.com/web-platform-tests/wpt-metadata/pull/2729

[2022-05-18 23:39] jensimmons opened #82 "Switch the order of the sections on the Interop dashboard"
I'd like to propose we switch the order of the Interop dashboard sections to be
1) Main top section with the big numbers and browser logos
2) "How are these scores calculated?" — The list of categories and %
3) "Focus Areas" — with the graph over time & dropdown to drill into specific graphs

Basically putting what's current second into third place, and taking what's currently third and putting it

[2022-05-18 23:42] jensimmons opened #83 "This repo only allows issues that are Proposals, with the proposal label"
Right now, if you go to make a new issue (at least as a non-admin/non-repo-owner) you can only create a "Compat Bug Proposal" or "Proposal" issue. With a strict template. And that automatically gets a "proposal" label.

We need a generic "New Issue" option that has no template, and doesn't apply labels. Otherwise literally every issue in this issue queue is a "proposal", which makes that label use

[2022-05-23 16:27] argyleink commented on #82
sgtm, flop it 👍🏻 does anyone else want to weigh in with their thoughts?
my dev env isn't setup anymore, anyone else able to do the swap? cc @foolip 😅

[2022-05-25 03:16] mtom55 opened #84 "Extend Scrolling to cover Body Scroll Issues"
**Description**
Inability to reliably block body scroll in Safari/Webkit.  Note that this is a very significant long-standing issue which greatly increases the difficulty of building UIs and is a significant compatibility issue between browsers.

**Bug reports**
https://bugs.webkit.org/show_bug.cgi?id=237961
https://bugs.webkit.org/show_bug.cgi?id=240859
https://bugs.webkit.org/show_bug.cgi?id=240

[2022-05-25 14:13] foolip commented on #41
@bramus from Google would also like to be involved.

[2022-05-25 15:02] foolip commented on #41
I've scheduled a first meeting based on the input in this issue, and sent https://github.com/web-platform-tests/interop-2022-viewport/issues/2 as an agenda/notes issue.

[2022-05-25 15:07] foolip opened #85 "Agenda for May 26 meeting"
Here's the agenda for our meeting tomorrow:

- https://github.com/web-platform-tests/interop-2022/issues/82
- https://github.com/web-platform-tests/interop-2022/issues/83
- https://github.com/web-platform-tests/interop-2022/issues/84 (route to viewport investigation?)
- Test change review:
  - https://github.com/web-platform-tests/interop-2022/issues/81
- Investigation effort updates
  - Editing (

[2022-05-25 22:28] DanielRyanSmith commented on #82
Sure! I made [a PR](https://github.com/web-platform-tests/wpt.fyi/pull/2865) for the swap (and did some poking around as you suggested @foolip 😆 )

[2022-05-26 06:54] foolip commented on #82
Thanks @DanielRyanSmith, that was quick!

https://interop-section-swap-dot-wptdashboard-staging.uk.r.appspot.com/interop-2022 is a staging instance for this.

With the swapped order I think the title of the graph should probably change from "Focus Areas" to "Scores over time", since preciously that title functioned a bit as a heading for everything that followed, but not now.

[2022-05-26 16:02] #77 closed

[2022-05-26 16:06] #83 closed

[2022-05-26 16:14] foolip commented on #81
@josepharhar can you check out the show-picker-disabled-readonly.html tests and see if including that in Interop 2022 would be reasonable?

[2022-05-26 16:37] foolip commented on #85
_Rough notes from today's meeting._

[**Switch the order of the sections on the Interop dashboard**](https://github.com/web-platform-tests/interop-2022/issues/82)

Ship it!

[**This repo only allows issues that are Proposals, with the proposal label**](https://github.com/web-platform-tests/interop-2022/issues/83)

Resolved.

[**Extend Scrolling to cover Body Scroll Issues**](https://github.com/web

[2022-05-26 16:55] DanielRyanSmith commented on #82
Updated with suggested graph title 👍

[2022-05-26 21:10] brandonmcconnell opened #86 "`attr()` support extended capabilities"
# Description
The attr() [CSS](https://developer.mozilla.org/en-US/docs/Web/CSS) [function](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Functions) is used to retrieve the value of an attribute of the selected element and use it in the stylesheet. It can also be used on [pseudo-elements](https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements), in which case the value of the attri

[2022-06-01 21:29] jensimmons commented on #82
I think this looks great!

I wonder if we can put a min-height on the element that contains the browser names, so that the page doesn't jump up & down when flipping back and forth between stable and experimental. That would make it easier to see what's changing between preview browsers and shipped browsers.

(The jump is caused by the longer names wrapping. A `min-height` that's vaguely a bit more

[2022-06-02 10:12] foolip commented on #86
Hi @brandonmcconnell! We haven't started planning for Interop 2023 yet, but I've created https://github.com/web-platform-tests/interop-2022/issues/78 which you can watch to see when things start happening. At some point there will be a public proposal process, and I'd suggest raising this then.

Interpreting the compat tables is a bit tricky since it's just a lot of red, can you give a few code ex

[2022-06-08 17:08] foolip commented on #81
@jgraham @gsnedders could you find the right people to weigh in on this for Gecko and WebKit?

[2022-06-08 17:08] foolip opened #87 "Agenda for June 9 meeting"
Here's the agenda for our meeting tomorrow:

- https://github.com/web-platform-tests/interop-2022/issues/78 - proposed timeline
- https://github.com/web-platform-tests/interop-2022/issues/82
- https://github.com/web-platform-tests/interop-2022/issues/86
- Test change review:
  - https://github.com/web-platform-tests/interop-2022/issues/81
- Investigation effort updates
  - Editing (@jgraham): http

[2022-06-08 17:08] #85 closed

[2022-06-08 17:40] josepharhar commented on #81
If we already have/had showPicker tests in interop2022, I don't see anything wrong with including all three of the showPicker tests in the link.
It looks like the new disabled-readonly test was specced here, so I don't think there would be any contention over including it: https://github.com/whatwg/html/pull/7769

[2022-06-08 20:37] foolip commented on #81
Thanks @josepharhar!

[2022-06-09 12:21] #68 closed

[2022-06-09 12:30] foolip commented on #78
Here's a first cut at a timeline, to raise for discussion in https://github.com/web-platform-tests/interop-2022/issues/87 today:
- Now until July 15: define the process itself, in particular where / from whom we will solicit proposals, and how the positions process will work. See https://github.com/web-platform-tests/interop-2022/issues/68#issuecomment-1112400180 for concrete issues to work throug

[2022-06-09 14:31] gsnedders commented on #78
By comparison, last year's actual timeline was:

 * 7 Oct – 29 Oct: define process (sorta, we didn't really stick to it),
 * 29 Oct – 18 Nov: proposals period,
 * 18 Nov – 16 Dec: focus area selection,
 * 16 Dec – 22 Feb: test review, metric computation, dashboard design,
 * 22 Feb – 3 Mar: PR/marketing delay

[2022-06-09 15:17] foolip commented on #78
Thanks @gsnedders! I didn't look at that first, great idea to compare. The proposals period was shorter than I'm suggesting (3 weeks vs. 6) and the test review period was much longer (2+ months vs. unclear).

So it would probably be useful to look at the "test review, metric computation, dashboard design" bit and see what we expect to still take a long time next time (test review, probably) and ma

[2022-06-09 16:18] foolip commented on #78
In https://github.com/web-platform-tests/interop-2022/issues/87 @jensimmons proposed that we have a deadline for *new* proposals earlier than the end of the proposals discussion period, perhaps Oct 15.

[2022-06-09 16:37] gsnedders commented on #78
My understanding from the meeting is the slightly more concrete proposal is:

 * Now until July 15: define the process itself.
 * September 15 to October 15: Proposals period.
 * October 16 to October 30: Proposal discussion/refinement.
 * November 1 to November 31: Proposal selection.
 * December 1 to December 16 (or the week after?): Test review.
 * January 9 to January 20: Announcement discussi

[2022-06-10 16:28] jgraham commented on #78
Test review can happen until shortly before launch, right? There needs to be about a week in which the scores are stable (although we can't guarantee that ofc), but I think we can expect initial test review to continue until about 20th Jan. (although in practice it's also ongoing).

I guess we'll see how "investigate" ends up working out this year, but dropping that so that we are only able to wor

[2022-06-10 16:47] gsnedders commented on #78
To be clear, I was imagining being able to propose (as a counter-proposal) "investigate [X]" if someone is proposing [X], preferably with a clearer idea about the investigation would suffice than we had at that point last year.

[2022-06-14 00:13] SachaG commented on #78
Just wanted to say that I'm happy to try and fit the 2022 edition of the State of CSS survey into your schedule as best as I can.

[2022-06-15 05:12] brandonmcconnell commented on #87
Thanks, all. It's worth noting that the CSS `attr()` extended capabilities is not actually a new proposal. Rather, none of the browsers currently support the full spec for the feature.

Spec: https://drafts.csswg.org/css-values-5/Overview.bs#attr-notation

MDN explainer: https://developer.mozilla.org/en-US/docs/Web/CSS/attr

[2022-06-15 05:13] brandonmcconnell commented on #86
Sure, I'll post a few examples later today/tomorrow. Thanks!

[2022-06-15 17:17] jensimmons commented on #87
@brandonmcconnell This group is not the CSS Working Group. We are not writing specifications for technology. We are choosing automated tests of certain already-specified technology to include in the Interop Dashboard.

Proposing that WPT tests for `attr()` be included in Interop 2022 is a new proposal for this group. And right now, we are not adding any new focus areas to Interop 2022. We will sta

[2022-06-16 13:20] brandonmcconnell commented on #87
@jensimmons Thanks, Jen! That makes complete sense. I misunderstood.

I only meant to suggest this for Interop 2023. Thanks again!

[2022-06-17 09:37] gsnedders opened #88 "input type=week/month"
** Test List **

* /html/dom/reflection-forms.html
* /html/semantics/forms/constraints/form-validation-validity-rangeOverflow.html
* /html/semantics/forms/constraints/form-validation-validity-rangeUnderflow.html
* /html/semantics/forms/constraints/form-validation-validity-valid.html
* /html/semantics/forms/constraints/form-validation-validity-valueMissing.html
* /html/semantics/forms/the-input-ele

[2022-06-17 11:24] svgeesus commented on #20
The CSS Color 5 `color-contrast()` function is part of Interop 2022, and there was [recently a formal objection](https://github.com/w3c/csswg-drafts/issues/7310#issuecomment-1146693305) on it because it uses the [flawed](https://www.cedc.tools/article.html) WCAG2.1 luminance contrast algorithm as the only option. Thus, CSS WG discussed this are [resolved to move `color-contrast()` to CSS Color 6](

[2022-06-17 12:26] svgeesus commented on #20
The Interop2022 tag doesn't seem to be in the test itself, where is the tagging info stored?

[2022-06-20 13:58] svgeesus commented on #20
@foolip help please on (un)tagging color-contrast() tests?

[2022-06-22 14:04] domenic opened #89 "Small features as a focus area for Interop 2023?"
Hi all,

I'm wondering if there is interest, for Interop 2023, in increasing the scope to focus on small, new features that address developer pain points. In particular I suspect there are many web platform improvements which have developer demand, and are not particularly controversial or hard to implement, but have just fallen through the cracks. (I've been calling these "papercuts".) Some examp

[2022-06-22 19:09] foolip commented on #88
@mfreed7 @josepharhar can either of you look into splitting these tests? I know that at least one test was split, but don't know if there's a pending CL/PR for the rest?

[2022-06-22 19:14] foolip commented on #82
This was resolved in https://github.com/web-platform-tests/wpt.fyi/pull/2865. The `min-height` was fixed in https://github.com/web-platform-tests/wpt.fyi/pull/2883 but hasn't been deployed yet.

[2022-06-22 19:14] #82 closed

[2022-06-22 19:18] jgraham commented on #81
This seems fine.

[2022-06-22 19:19] foolip opened #90 "Agenda for June 23 meeting"
Here's the agenda for our meeting tomorrow:

- https://github.com/web-platform-tests/interop-2022/issues/78 proposal:
  - RFC for the process only, using [timeline from comment](https://github.com/web-platform-tests/interop-2022/issues/78#issuecomment-1151357104)
  - Rest of process run without RFC process
- https://github.com/web-platform-tests/interop-2022/issues/89
- Posting an update on how In

[2022-06-22 19:19] #87 closed

[2022-06-23 10:32] foolip commented on #81
The two additional tests were labeled in https://github.com/web-platform-tests/wpt-metadata/pull/2813.

[2022-06-23 10:32] #81 closed

[2022-06-23 16:09] jensimmons commented on #78
- Now until July 15: define the process itself.
- September 15 to October 15: Proposals period.
- October 16 to October 30: Proposal discussion/refinement.
- November 1 to November 31: Proposal selection.
- December 1 to December 16: Start review of tests.
- December 1 to December 16: Start involving PR teams. Write rough drafts of announcements. Begin creating dashboard.
- January 9 to January 20

[2022-06-23 16:40] foolip commented on #90
_Rough notes from the meeting_

**Interop 2023**

Schedule in RFC will be https://github.com/web-platform-tests/interop-2022/issues/78#issuecomment-1151357104 + https://github.com/web-platform-tests/interop-2022/issues/78#issuecomment-1152159713

@jgraham: test review can run in parallel, from proposals time, but can keep tweaking the test list until shortly before launch when we take screenshots

[2022-06-23 16:49] josepharhar commented on #88
I'll try splitting these

[2022-06-23 17:33] josepharhar commented on #88
I split them here: https://chromium-review.googlesource.com/c/chromium/src/+/3721798
I'll post a link to the generated WPT PR which should have test results soon

[2022-06-23 21:52] jensimmons commented on #78
Why a July 15 deadline for preparing for 2023? Why not give ourselves until August 15 to define the process? Or Sept 1?

[2022-06-24 15:36] jensimmons commented on #89
This Interop project, part of Web Platform Tests, is _not_ the venue for:

1. writing specifications, or
2. coordinating the timing of browsers shipping features.

The work of writing specs needs to happen in the appropriate working group, where legal agreements and patent policies protect the ability for browsers to implement new ideas. And where the design of new features can be well considered

[2022-06-24 17:00] jgraham commented on #89
I'm very reluctant to include items which don't have any spec text, except as possible "investigate" areas. Even in that case I'd prefer to focus on areas where we have some legacy implementations, but lack interop and don't have a clear way to get there.

Although we might believe that something is small and therefore trivial enough to specify that specification and implementation in a single yea

[2022-06-28 16:59] foolip commented on #78
@jensimmons for "define the process itself" I meant sending out an RFC with a timeline like the one in https://github.com/web-platform-tests/interop-2022/issues/78#issuecomment-1164606116 and the decision making process the group will use later in the process. It wouldn't involve any of the focus area proposals. Does that make sense?

[2022-06-28 17:35] josepharhar commented on #88
Here is the WPT PR for the changes: https://github.com/web-platform-tests/wpt/pull/34560
If nobody objects I'll merge it soon

[2022-06-29 02:55] mtom55 commented on #78
Interop was originally created to "address key developer pain points", so in that context I think it's important to potentially include both existing specifications that have bugs/differences and to consider new areas that need addressing.  If we automatically excluding anything that's not covered by existing specs than that limits the changes this effort can make.

It would be nice for the develo

[2022-06-29 04:56] karlcow commented on #78
* Working Groups provide feedback mechanisms and issues tracker to address the needs of technologies (future and past). This is where new ideas are being discussed and proposed. There are already plenty of mechanisms to do that, including WICG and reports to Groups. This is the place for new areas of work.
* https://webcompat.com/ addresses the issues with the current Web as implemented and helps